[2017-07-31 16:32] MansoorAliKhanOfficial opened #823 "PayFlow : Woo subscription issue with renewal"
Can you please take a look at this ticket? its urgent.
https://www.angelleye.com/support/scp/tickets.php?id=1371

[2017-08-01 02:15] angelleye commented on #199
Hi Rob,

Sorry for the confusion. In Context is working for EC buttons on the product page, the cart page, the mini-cart widget, and the top of the checkout page.  These are considered "Express Checkout Shortcut" because the WooCommerce checkout page is skipped entirely.

If you use the WC checkout page and Express Checkout within the regular list of gateways there, In-Context will not be used.  T

[2017-08-01 02:16] angelleye commented on #405
@chrisp1001 I agree we should go ahead and take the next step to do that.  I'll re-open this and put it on our next update list.

[2017-08-01 02:18] angelleye commented on #823
@kcppdevelopers You may have addressed this already, but please double check.  I think this might be the same problem we had earlier where we weren't compatible with the latest version of Woo Subscriptions, but this 1.4.5.2 update should fix that.  Please verify.

[2017-08-01 03:46] kcppdevelopers commented on #823
@angelleye I have review issue in client website and found that this is same problem we had earlier. yes 1.4.5.2 update will fixed issue.

[2017-08-01 04:13] kcppdevelopers commented on #806
@angelleye as per our discussion WP login credentials does not have admin/shop manager role to review orders details. we have already ask for admin details.

[2017-08-01 07:24] kcppdevelopers commented on #816
@angelleye I have test everything base on this guy provides some details, but everything is working fine for me. Can you please ask log file or website credential for more troubleshoot?

[2017-08-01 07:29] kcppdevelopers commented on #823
Issue #806

[2017-08-01 10:57] MansoorAliKhanOfficial commented on #823
so is this merged to dev branch so that I can ask client to update and test?

[2017-08-01 17:49] angelleye commented on #823
Yes, dev branch should resolve the issue for them.

[2017-08-02 04:50] #820 closed

[2017-08-02 05:01] #751 closed

[2017-08-02 05:16] #822 closed

[2017-08-02 08:12] #821 closed

[2017-08-02 08:12] angelleye commented on #821
* https://docs.google.com/document/d/1-xJ7vMmrXyGoaXL8XIGzTtc2TqerceDexxhy94z3RUs/edit

[2017-08-02 16:19] MansoorAliKhanOfficial commented on #823
Okay I have sent it to them waiting for their reply . Will leave any my remarks upon their reply.

[2017-08-02 21:54] angelleye commented on #806
@kcppdevelopers User role has been updated to admin.  Please take a look.

[2017-08-03 06:24] angelleye commented on #806
@kcppdevelopers reviewed and noticed the plugin on their site was not updated.  We have applied our current dev branch to the site and are now confident it should work as expected.  Waiting again for customer feedback.

[2017-08-03 09:05] kcppdevelopers opened #824 "Order Authorization / Capture re improvements"

[2017-08-04 14:51] MansoorAliKhanOfficial commented on #823
**Customer Remarks After installing the Dev branch**

Can you check any other possibilities? as if is working for the new once it should all work for the old ones. what could be the issue with those?

[2017-08-04 18:57] MansoorAliKhanOfficial opened #825 "EC button loading issue"
I thought I was the one facing this but yes we have someone who rated us 5 but quoted the issue too. can you take a look and make it load quickly?

![image](https://user-images.githubusercontent.com/11312949/28982832-9d68e38e-7970-11e7-9e6e-7ac9c82ae91a.png)

[2017-08-06 03:06] angelleye commented on #823
@kcppdevelopers Looks like we still need to review this more..??

[2017-08-06 03:08] angelleye commented on #825
The button is hosted by PayPal's servers, and unfortunately it can be delayed at times.  We may look to use a locally provided graphic instead of a PayPal hosted graphic to resolve this.

[2017-08-07 09:49] angelleye commented on #806
@kcppdevelopers The user we've been working with (dswidev.com) found the reason their order IDs were not matching post IDs (Order Numbers module included with WooCommerce Booster).  They've now disabled that, but they are still running into the same problem they've had all along, which is that they get an error during checkout: "Invalid or missing payment token fields."

So apparently you didn't g

[2017-08-07 17:09] angelleye opened #826 "Express Checkout - PayPal Credit from general WC checkout gateways list."
* https://wordpress.org/support/topic/paypal-credit-not-appearing-using-paypal-express-checkout/

When PayPal Credit is enabled in EC settings we're including it with the regular EC button everywhere the EC button is output, but we don't show anything about PayPal Credit in the Express Checkout option that gets added to the WC checkout list general gateways.  Need to update that graphic there so i

[2017-08-08 09:38] angelleye commented on #824
@kcppdevelopers I'm forwarding you an email with feedback from the user that we're doing all of this for.

[2017-08-09 07:14] kcppdevelopers commented on #806
@angelleye I have checked multiple time on my localhost as well dswidevcom website but I simply unable to regenerating "Invalid or missing payment token fields." error.

I have uploaded latest code on client website (dswidevcom) now everything is working fine for me.

Can you please ask user to re test again?

[2017-08-09 21:57] shawaj commented on #816
We're facing this issue with every customer who tries to use express checkout

[2017-08-09 22:02] shawaj commented on #816
Any idea when a fix might be available @angelleye and do you know what version this was introduced in?

[2017-08-10 03:07] angelleye opened #827 "Multiple PayPal Account Setup Options"
* https://mail.google.com/mail/u/0/#inbox/15dc940a76eabe30

Ability to setup multiple PayPal accounts in the system with a rule builder (similar to our IPN smart forwarder tool) that allows you to build logic that specifies where payments should go.

For example, something that comes up a lot is people who have low price items mixed with more expensive items.  It's good for them to use Micropaymen

[2017-08-10 03:10] angelleye commented on #827
This could potentially be a premium extension.

[2017-08-10 03:24] angelleye commented on #827
It would be good to make this work with Integrated Signup, too, so we should do that first.  #810

[2017-08-10 03:25] angelleye commented on #810
While building this we need to consider #827.  We will be building that feature as a premium extension to this plugin, so we need to make sure any hooks that will be necessary to get that done are provided within this main plugin.

[2017-08-10 04:01] angelleye commented on #816
@shawaj Can you verify what versions of everything you're running?  Also, make sure you have cleared caching / CDN tools after updating any plugins.

[2017-08-10 04:02] angelleye commented on #806
@kcppdevelopers She says she's till getting the error.  :(

Could it have something to do with the product?  Maybe we need to set the exact product she's using to sandbox mode temporarily and see if we can reproduce the issue then?

[2017-08-10 06:41] kcppdevelopers commented on #806
@angelleye She has disable product level sandbox mode, that why renewal not working well on live mode.

[2017-08-10 07:17] angelleye commented on #806
@kcppdevelopers But she's getting that invalid token error during checkout, not when the renewal happens.

[2017-08-10 12:35] angelleye commented on #823
@MansoorAliKhanOfficial So it sounds like the fresh order and renewal worked as expected, but the order from the previous plugin version would still not renew correctly.  Is that right?  If so, there may not be anything we can do about that, but new orders going forward will be fine.

[2017-08-10 14:55] shawaj commented on #816
@angelleye - yes cache is cleared, CDN is cleared also (jetpack).

From status:
[code]

[2017-08-10 18:20] MansoorAliKhanOfficial commented on #823
Yeah, that is correct. I just gave remarks so that if there will be something which might be adjusted.
if there is nothing then its fine to move on. ;)

[2017-08-10 19:32] MansoorAliKhanOfficial opened #828 "proceed to checkout button issue:"
![image](https://user-images.githubusercontent.com/11312949/29188397-652b0f22-7e2c-11e7-8c8f-a07e3f02b1d6.png)

I dont understand why this is forecefully hidden overriding default WC css??

[2017-08-11 05:59] angelleye commented on #828
@MansoorAliKhanOfficial When Express Checkout is the only gateway active in the plugin then it hides the regular WooCommerce checkout button and uses only the PayPal button.  I think that's what you're seeing here.

@kcppdevelopers Can you confirm?

[2017-08-11 06:51] angelleye opened #829 "Express Checkout - Geolocation conflict..??"
* https://wordpress.org/support/topic/billing-state-is-a-required-field-error/#post-9400482

WooCommerce has an option to enable Geolocation for the default shopper address (WC -> Settings -> General Tab).  I think this is conflicting with our PayPal calls sometimes.

For example, if the geolocation sets a zip code in the WC address object, then our PayPal request includes that, however, when no s

[2017-08-11 07:02] #824 closed

[2017-08-11 07:05] angelleye commented on #806
I'm going to move this to next milestone for now.  We are not able to reproduce any o f this, but something is still going on with this client's site in particular, so I don't want to give up on it, but I don't want to delay this release either.

[2017-08-11 07:56] angelleye commented on #823
The user now says it does work on his old order, and our testing shows the same.

[2017-08-11 11:04] #309 closed

[2017-08-11 13:43] MansoorAliKhanOfficial commented on #828
but there is actually some issue with logic as per my testing.
in EC settings page for Checkout Page Display -> when option is display at top of the checkout page.
this is hiding that dont know why. but after changing this option that button started to show,

[2017-08-11 15:10] angelleye opened #830 "Express Checkout - Skip Final Review no longer working..??"
Skip Final Review is no longer working.  I've tested this on my live angelleye.com site as well as woo.angelleye.com.

[2017-08-11 16:41] #830 closed

[2017-08-11 16:45] angelleye opened #831 "Express Checkout - No Shipping Required Adjustment"
If No Shipping Required is set for a product then we aren't getting any billing or shipping info at all in the WC order.

This makes sense to have no shipping address, but the billing address should at least have the person's name / company name filled in, which would be available in the GECD response even without a shipping address.

[2017-08-11 16:46] angelleye commented on #831
Compare these...

![image](https://user-images.githubusercontent.com/629241/29223023-a7671bc0-7e8a-11e7-9f06-ea8d0f6198d3.png)

The one with "no shipping required" wound up without any billing info and it also came in as Guest for the name instead of the person's actual name.

[2017-08-11 16:51] angelleye commented on #831
Take a look at these order comparisons:

![image](https://user-images.githubusercontent.com/629241/29223098-ea887ef8-7e8a-11e7-9743-fe98059f47e2.png)

7144 - This order was done via Express Checkout.  No Shipping Required was NOT enabled, so we can see all of the data for billing/shipping is populated, and the order came in with the name Steve Pfister.

7141 - This order was placed via Payments Pr

[2017-08-12 05:02] MansoorAliKhanOfficial opened #832 "EC: incontext issue"
![image](https://user-images.githubusercontent.com/11312949/29238040-607537c2-7f45-11e7-8907-bdebaaf77e24.png)

http://clients.mansooralikhan.com/blogger/wc-api/WC_Gateway_PayPal_Express_AngellEYE/?pp_action=get_express_checkout_details&token=EC-4MC38241KJ6675129&PayerID=8Y5EQURQR396G

[2017-08-12 05:11] MansoorAliKhanOfficial commented on #832
Second time I have tested and its

10001 - Internal Error

[2017-08-12 05:37] kcppdevelopers commented on #832
I have double check above issue not from our plugin it from 'WC vendors pro' plugin.

[2017-08-12 05:37] #832 closed

[2017-08-12 05:58] angelleye commented on #816
@shawaj How do you have these options set?

![image](https://user-images.githubusercontent.com/629241/29238349-4f752c94-7ef9-11e7-97ba-b39542ec622e.png)

[2017-08-12 06:05] angelleye commented on #816
@kcppdevelopers Another user mentioned that they were having this problem, too:

![image](https://user-images.githubusercontent.com/629241/29238398-2ff0ebd2-7efa-11e7-8130-7e018f9a2fc9.png)

But after adjusting the Shipping Destination setting to what's shown above it fixed the problem.

Hopefully @shawaj can verify it fixes his problem, too, and then we can add some logic based on these settings

[2017-08-12 14:28] angelleye opened #833 "Order edit screen empty after our 1.4.6 update..??"
* https://mail.google.com/mail/u/0/#inbox/15dd6cf27a41b7c4

[2017-08-12 14:28] angelleye commented on #833
@kcppdevelopers Any idea at all why this would be happening?

[2017-08-12 14:45] angelleye commented on #833
@kcppdevelopers I wonder if our new sections we added for Reference Transaction Orders somehow caused this..??  I had him disable all other plugins, and he says nothing fixes it except for disabling ours.

[2017-08-12 15:50] angelleye opened #834 "Order Auth / Capture Problems with Inventory Tracking..??"
* https://wordpress.org/support/topic/problems-with-latest-update-2/

[2017-08-12 17:02] kcppdevelopers commented on #833
@angelleye Can you please ask user to provide WooCommerce version details?

[2017-08-14 10:05] angelleye opened #835 "Braintree - 3D Secure Integration"
* https://developers.braintreepayments.com/guides/3d-secure/overview

[2017-08-14 10:42] angelleye opened #836 "Cosmetic Adjustments"
* https://mail.google.com/mail/u/0/#inbox/15dd80574acb3489

I've been wanting to change that PayPal logo for a while now.  It is ugly indeed.  We should make it one that shows PayPal, PayPal Credit, and CC icons.

[2017-08-14 10:55] angelleye commented on #816
* https://wordpress.org/support/topic/billing-state-is-a-required-field-error

A couple more users reporting address validation problems.  User Tarkan provides some info that may be useful to work around these problems in some scenarios.

[2017-08-14 11:05] angelleye commented on #833
@kcppdevelopers Looks like you figured it out, but just got more info from the user that he is running WC 2.6.14.  I see you added version logic.  Is this issue resolved now or are you still working on it?

[2017-08-15 06:43] MansoorAliKhanOfficial commented on #823
Clients reply: you can check ticket for more references:

The Error Code 23's are happening on renewals. They do not appear to be happening on new orders, only on renewals. I have attached 4 of the ones that occurred today, as well as the PayPal Manager summary and the related orders from Woocommerce. These are on the live site.

[2017-08-15 10:33] ArMouReR commented on #830
Got internal server error on product edit page after upgrade from 1.4.5.1 to 1.4.6.1.

`#0 /wp-content/plugins/paypal-for-woocommerce/angelleye-includes/angelleye-admin-order-payment-process.php(89): AngellEYE_Admin_Order_Payment_Process->angelleye_is_order_created_by_create_new_reference_order(Object(WC_Order))
#1 /wp-admin/includes/template.php(1037): AngellEYE_Admin_Order_Payment_Process->admin

[2017-08-15 10:37] ArMouReR opened #837 "WC_Order::get_created_via is not supported by WC 2.6.4"
Got the following error after upgrade to 1.4.6.1
`[15-Aug-2017 10:20:28 UTC] PHP Fatal error:  Uncaught Error: Call to undefined method WC_Order::get_created_via() in /wp-content/plugins/paypal-for-woocommerce/angelleye-includes/angelleye-admin-order-payment-process.php:286
Stack trace:
#0 /wp-content/plugins/paypal-for-woocommerce/angelleye-includes/angelleye-admin-order-payment-process.php(89):

[2017-08-15 12:36] angelleye commented on #837
Thanks for the report.  We'll get this fixed on a 1.4.6.2 update ASAP.  Until then, if you need to revert back you can find previous versions of the plugin at the bottom of the page here:  https://wordpress.org/plugins/paypal-for-woocommerce/advanced/

[2017-08-15 13:55] kcppdevelopers commented on #837
Issue #833

[2017-08-15 15:22] angelleye commented on #816
* https://wordpress.org/support/topic/shipping-address-replacing-billing-address-in-paypal/#post-9411699

@kcppdevelopers Another user reporting similar issue.  Not sure if this is what you've already taken care of or not..??

[2017-08-16 17:43] angelleye opened #838 "Express Checkout - Review with KCPPDev"
For Express Checkout I'm not sure how this suddenly shows an actual discount field broken out instead of having the discount as a line item..??

![image](https://user-images.githubusercontent.com/629241/29377148-7fbd72f0-8280-11e7-9ee6-151c373b1094.png)

[2017-08-17 10:18] angelleye commented on #823
@MansoorAliKhanOfficial I thought we had figured out that only his older order renewals weren't working..??  Are you saying that even on the latest update his original order works but then the renewal fails with this Error 23?

[2017-08-17 12:44] angelleye opened #839 "Express Checkout - Skip Final Review not working for Subscription products."
* Majda Djukic via email and Skype reports...

In #830 we made a fix for Skip Final Review, which became broken in 1.4.6.  This seems to have fixed it for regular checkouts, but when checking out for a Woo Subscription product it's still displaying the review page even when skip enabled.

Is this intended for Subscription items for some reason, or is this something else we've missed?

[2017-08-17 18:32] MansoorAliKhanOfficial commented on #757
hi I m going to reopen this issue again as I have received a new comment from the client. Please take a look here in the ticket.

https://www.angelleye.com/support/scp/tickets.php?id=1214

[2017-08-17 18:37] MansoorAliKhanOfficial commented on #823
Yeah, he has left 2 more comments this week saying the exact same.

Here is the ticket for further reference.
https://www.angelleye.com/support/scp/tickets.php?id=1371

[2017-08-18 06:25] kcppdevelopers commented on #839
@angelleye  In express checkout, when skip final review enable, we are creating order manually with required order data. but when product is subscription it is hard to manage to create order manually.  that why we are display order review page for subscription product.

[2017-08-18 14:10] angelleye commented on #839
I'll move this to the next milestone, but I want to improve upon this.

[2017-08-18 14:18] angelleye commented on #823
I have responded to the ticket with quite a bit of info for the customer.  @kcppdevelopers will be working to resolve the conflict so that old order renewals will work on the latest versions of Woo Commerce, Woo Subscriptions, and PayPal for Woo in this release.

[2017-08-18 14:19] #837 closed

[2017-08-18 15:28] angelleye commented on #838
For Payments Pro the discount was applied but it doesn't show up anywhere..??

![image](https://user-images.githubusercontent.com/629241/29465743-f11532fa-83ff-11e7-8cf3-dfb690bb8a7d.png)

[2017-08-19 21:51] angelleye commented on #823
@kcppdevelopers Still working on this one?  No rush, just noticed you had commits but it's not marked ready for review..??

[2017-08-20 22:56] angelleye opened #840 "Express Checkout - In Context from WC checkout page"
* https://www.angelleye.com/support/scp/tickets.php?id=634
* https://mail.google.com/mail/u/0/#inbox/15f5453c30b4fcbb
* https://www.angelleye.com/support/scp/tickets.php?id=1437

**Update:**
Another request for this ( 02-22-2018)
https://wordpress.org/support/topic/checkout-and-visitor-stay-on-my-website/

We decided against adding In Context when checkout happens through the WC checkout page and

[2017-08-20 23:11] angelleye opened #841 "Payments Advanced - Line Item Details"
* https://www.angelleye.com/support/scp/tickets.php?id=1412

It seems we are not passing any line item details to Payments Advanced..??

[2017-08-20 23:16] angelleye commented on #841
The PayFlow Gateway does support PayPal API style line item parameters, so we need to run some tests to see if those carry into the PayPal transaction details when sent in a PayFlow request for Payments Advanced.

[2017-08-21 14:48] angelleye opened #842 "Flatsome theme conflict..??"
* https://www.angelleye.com/support/scp/tickets.php?id=1387

[2017-08-21 15:28] angelleye opened #843 "PayFlow - Endpoint filter hook."
* https://mail.google.com/mail/u/0/#inbox/15df0f876936578f

User would like to use a 3rd party fraud service, http://nofraud.com/.  According to their documentation all you have to do is submit your API request to their endpoint instead of PayFlow's.  They handle the rest.

The user was asking about where to update the endpoint in the core code, but I mentioned that it would be best to use a filte

[2017-08-21 15:34] #816 closed

[2017-08-21 15:37] #833 closed

[2017-08-21 15:39] #834 closed

[2017-08-21 15:40] #823 closed

[2017-08-21 15:43] #757 closed

[2017-08-21 15:59] angelleye commented on #843
Filiter hooks added...

* aepfw_payments_pro_payflow_endpoint
* aepfw_payments_pro_payflow_endpoint_sandbox

[2017-08-21 16:07] #843 closed

[2017-08-22 08:23] angelleye commented on #802
This may be fixed as of our 1.4.6.* updates, but we need to double check and be sure.

[2017-08-22 08:27] angelleye commented on #778
I guess this can be difficult because we have to include the billing agreement parameters in the SEC request in order to save the account for future use, so they would have to specify this before they begin the procedure.  We'll have to look more into this to see if we can come up with a better solution.

[2017-08-22 08:36] angelleye opened #844 "Braintree - Kount - Revisit Advanced/Custom Integration"
We added Kount in #751, but PayPal reps are a little bit confused about our Kount integration.  Seems they think there should be more involved than just choosing "advanced" from a drop down.  Somehow we need to tie in some custom options..??

[2017-08-22 08:37] angelleye commented on #632
@gine Can you elaborate a little bit on this for us?

[2017-08-22 08:41] angelleye commented on #835
#578

[2017-08-22 08:45] #745 closed

[2017-08-22 08:46] #744 closed

[2017-08-22 08:47] #743 closed

[2017-08-22 08:49] #727 closed

[2017-08-22 08:50] #726 closed

[2017-08-22 08:51] #725 closed

[2017-08-22 08:54] angelleye commented on #601
@dougm1966 Never did hear back on this.  Just wanted to check in once more.  Are you still having issues?

[2017-08-22 10:07] kcppdevelopers commented on #825
issue #818

[2017-08-22 13:19] angelleye opened #845 "Product Level Sandbox Setting Bulk Updater"
Previously, we added a product-level option to enable the sandbox so that you can setup individual item(s) to use for testing.  We didn't add this setting to our bulk updater tool, though.  Typically, this isn't something we'd need to bulk update with, but it would be nice to have just in case the data gets screwy somehow and we need to disable it for all products.

Side note: not sure if that's w

[2017-08-23 06:32] kcppdevelopers commented on #80
We have build new calculation class, now everything is working well.

[2017-08-23 06:32] #80 closed

[2017-08-23 06:36] kcppdevelopers commented on #179
I have checked above issue on our latest version, for me everything is working fine.

[2017-08-23 06:38] kcppdevelopers commented on #416
We have develop new calculation class, now everything is working fine.

[2017-08-23 06:43] kcppdevelopers commented on #166
@angelleye I have tested and it's working fine for me.

[2017-08-23 09:16] kcppdevelopers opened #846 "Credit button conflicting"

[2017-08-23 09:28] kcppdevelopers commented on #828
@MansoorAliKhanOfficial  @angelleye

Yes, When Express Checkout is the only gateway active in the plugin then it hides the regular WooCommerce checkout button and uses only the PayPal button.

I have double checked and it's working well as per functionality.

[2017-08-23 09:30] kcppdevelopers commented on #424
We have develop new calculation and now everything is working well.

[2017-08-23 10:09] kcppdevelopers commented on #776
We have already resolved this and confirm it is working well on client dev site.

[2017-08-23 10:11] #580 closed

[2017-08-23 10:41] kcppdevelopers commented on #819
@MansoorAliKhanOfficial Can you please website URL for more troubleshoot?

[2017-08-23 23:08] angelleye opened #847 "PayPal Rep Feedback / Request"
* https://mail.google.com/mail/u/0/#inbox/15e1154f1a133b06

[2017-08-24 02:34] angelleye commented on #844
Another PayPal rep with questions about this:  https://mail.google.com/mail/u/0/#inbox/15ba10ff1ba546dd

[code]

[2017-08-24 03:40] #734 closed

[2017-08-24 04:40] kcppdevelopers commented on #117
We have develop new calculation class, now everything is working well.

[2017-08-24 04:41] kcppdevelopers commented on #581
We have already resolved this issue, now We have develop new calculation class. everything is working fine.

[2017-08-24 04:43] kcppdevelopers commented on #658
I double checked and found it's working fine for me.

[2017-08-24 04:43] #658 closed

[2017-08-24 06:35] kcppdevelopers commented on #809
@angelleye Payment gateway list display Title ( from gateway setting value )

[2017-08-24 07:50] kcppdevelopers commented on #802
Yes, I have double checked and it's working fine for me.

[2017-08-24 08:17] #117 closed

[2017-08-24 08:18] #166 closed

[2017-08-24 08:19] #179 closed

[2017-08-24 08:19] #416 closed

[2017-08-24 08:21] angelleye commented on #424
I'm going to move this to next milestone since it's not urgent, but I do want to revisit this.  Our new calculation may help fix cart total errors, but we still need to utilize the DISCOUNT field that PayFlow provides so things show up nicely in the PayFlow transaction details.

[2017-08-24 08:22] angelleye commented on #581
@robwatson-intechra Can you verify that things are working well for you now?  Or are you still having issues?

[2017-08-24 08:23] #581 closed

[2017-08-24 08:27] angelleye commented on #776
@kcppdevelopers Actually, these people are still having issues, but at this point we'll probably charge them for premium support.  (https://mail.google.com/mail/u/0/#inbox/15de78910301dbdb)

I'll move this to next milestone to avoid delays with this milestone.

[2017-08-24 08:31] #802 closed

[2017-08-24 08:32] #809 closed

[2017-08-24 08:34] angelleye commented on #828
@kcppdevelopers The experience should be the same regardless of whether you have the PayPal button set to display above or below the cart on the cart page, right?  It sounds like @MansoorAliKhanOfficial is reporting that he's getting a difference experience.

@MansoorAliKhanOfficial Can you elaborate on what you were saying here?  Can you provide screenshots?

[2017-08-24 08:54] #804 closed

[2017-08-24 08:56] #811 closed

[2017-08-24 08:58] #846 closed

[2017-08-24 08:59] #847 closed

[2017-08-24 17:30] angelleye opened #848 "Express Checkout - Review Page Adjustments"
* https://wordpress.org/support/topic/the-review-page-is-required-for-login-account-creation

We have an option to Skip Final Review when using Express Checkout.  This option gets ignored and the review page is forced is WooCommerce Guest Checkout is disabled.  In this case we assumed that the user would need to create a password, and that would have to be done from the review page so it would sti

[2017-08-24 19:58] angelleye commented on #844
Here is a specific question from PayPal reps after notifying them we had added Kount for Braintree.

So I'm a little confused by that.  Seems that the MID is somehow related or used with Kount settings..??  And we have #803 open as well where I think we missed something regarding MID integration.

I'm not really familiar with all of this myself, so we'll have to dig around in the docs to get this

[2017-08-25 00:35] robwatson-intechra commented on #581
I think we're ok on this. Thanks for checking in again.

[2017-08-25 06:02] kcppdevelopers opened #849 "Add add Compatibility for WooCommerce Pay for Payment Plugin"

[2017-08-25 06:18] #780 closed

[2017-08-25 06:43] #849 closed

[2017-08-25 07:21] kcppdevelopers commented on #803
@angelleye our plugin are already support to Merchant Account ID.

We have not provide UI to enter multiple account ID base on store currency, We have used Braintree API to get Merchant Account ID base on checkout currency and passed it in payment request.

I don't think UI is required for enter multiple account ID, because programmatically fetch  Merchant Account ID base on checkout currency.

Le

[2017-08-25 07:37] angelleye commented on #803
@kcppdevelopers  The developer of the Aelia currency switcher, Diego, seems to think it should be able to support multiple MID values.  (https://mail.google.com/mail/u/0/#search/aelia/15bfc1043b261476)

I've also had similar feedback from PayPal reps and other users, too.

[2017-08-25 07:45] kcppdevelopers commented on #803
@angelleye yes our plugin support multiple merchant account IDs now but user not need to enter in setting panel. we have used API to get right merchant account ID base on checkout currency so it will work well without enter merchant account IDs in setting panel. and yes it will also worked well with Aelia currency switcher plugin.

[2017-08-25 09:40] kcppdevelopers commented on #844
@angelleye  MID is request parameter and we are passing as 'merchantAccountId'. No, MID is not related with Kount settings.

[2017-08-25 17:33] angelleye commented on #803
![image](https://user-images.githubusercontent.com/629241/29725391-8d30d96e-8991-11e7-9ddd-1b43111f2c0e.png)

@kcppdevelopers That screenshot is from the Automatic Braintree plugin, and you can see how it lets you specify a currency and enter a different MID for different currencies.  This is what our plugin is apparently missing.

[2017-08-25 21:49] angelleye opened #850 "Express Checkout - PayPal and Checkout buttons disappear if you close in-context window..??"
* https://mail.google.com/mail/u/0/#inbox/15e1b5a5b1910853

[2017-08-27 00:18] angelleye opened #851 "User Feedback"
* https://www.angelleye.com/support/scp/tickets.php?id=1060

In #793 we fixed #3 in this person's feedback, but they have now provided a lengthy/detailed response about how they're using the plugin and what they would like to see changed.

@kcppdevelopers I'd like to review their feedback together and discuss it with you before you get started on this.

[2017-08-29 04:56] #605 closed

[2017-08-29 05:01] #825 closed

[2017-08-30 04:34] angelleye commented on #844
@kcppdevelopers Okay, so do you have any idea why they're saying they're confused about our integration?  They seem to think there should be more than simply setting "Advanced" in a drop-down..??

[2017-08-30 05:37] angelleye commented on #848
* https://mail.google.com/mail/u/0/#inbox/15cfae29fc205705

Similar feedback from another user.

(The WooCommerce guest checkout option is disabled. Therefore, the review page is required for login / account creation, and this option will be overridden.) (You currently have a Terms & Conditions page set, which requires the review page, and will override this option.)

[2017-08-30 05:50] #818 closed

[2017-08-30 05:54] #845 closed

[2017-08-30 09:12] kcppdevelopers commented on #850
@angelleye I have try same step but for me it's working fine. @MansoorAliKhanOfficial Can you please help me to regenerate issue?

[2017-08-30 17:35] MansoorAliKhanOfficial commented on #850
@kcppdevelopers  I have seen this issue, as those address fields should be prepopulated from my details on paypal?

![image](https://user-images.githubusercontent.com/11312949/29886400-54e9c6f6-8dd3-11e7-8e3c-191776c3becb.png)

[2017-08-30 17:38] MansoorAliKhanOfficial commented on #850
and the customer may be right as , I did the same
1- after incontenxt payment from paypal, it returned to site to order review page as you can see in previous message.
then I closed the tab and mannually entered the cart URL and here is wat I saw

![image](https://user-images.githubusercontent.com/11312949/29886545-e132516e-8dd3-11e7-8a9b-7bdb4149553e.png)

Although before that it was showing 2 bu

[2017-08-30 17:40] MansoorAliKhanOfficial commented on #850
The button is hidden forecefully somehow.

![image](https://user-images.githubusercontent.com/11312949/29886651-3e9a9442-8dd4-11e7-88ec-b4f3fdcff763.png)

[2017-08-30 17:50] MansoorAliKhanOfficial commented on #850
and what I m paying here? the order amount?

[2017-08-30 18:56] MansoorAliKhanOfficial opened #852 "PayFlow IP Addresses"
https://www.angelleye.com/support/scp/tickets.php?id=1430

[2017-08-31 08:15] kcppdevelopers commented on #763
@angelleye  I have added new option in setting panel for 'Order Review Page Title' and added Edit link in order review page for edit billing address.

[2017-08-31 08:24] kcppdevelopers commented on #763
https://www.screencast.com/t/rR9RewCGDZ

https://www.screencast.com/t/IZw43sPUKs

[2017-08-31 21:50] angelleye commented on #763
@kcppdevelopers I think this will still be confusing.  In the second screenshot...

![image](https://user-images.githubusercontent.com/629241/29946767-3c7b5b40-8e6c-11e7-8262-33a068a28b0f.png)

Would I have to check the "Ship to a different address" box and click "Edit" to change the address?  What happens if I just click Edit without checking the box?  Why do we need both?

I still think it would

[2017-08-31 21:58] angelleye opened #853 "WooCommerce 3.2 Compatibility..??"
* https://woocommerce.wordpress.com/2017/08/28/new-version-check-in-woocommerce-3-2/

The URL above is specific to the new version check feature they're adding, but we also need to make sure we cover anything else we may need in the 3.2 update.

[2017-08-31 21:59] angelleye commented on #794
Never heard back from user, so closing this issue.

[2017-08-31 21:59] #794 closed

[2017-09-01 04:52] kcppdevelopers commented on #763
@angelleye Edit link we have added for edit billing address not for shipping address.

[2017-09-01 04:58] kcppdevelopers commented on #763
@angelleye

1) Screenshot for after click on 'Ship to a different address?' checkbox  : https://www.screencast.com/t/GB9ZHVjM

2) Screenshot for after click on Edit link : https://www.screencast.com/t/TsEytgt7p

[2017-09-01 04:58] angelleye commented on #763
@kcppdevelopers It seems a little bit stranded right there in the middle of them.  Hard to tell what exactly that Edit link is for.  Is that something we're controlling placement of?  If so, shouldn't it go under the billing address?

[2017-09-01 04:58] angelleye commented on #763
@kcppdevelopers okay, yeah those last screenshots look better.

[2017-09-01 06:35] kcppdevelopers commented on #844
@angelleye  There are two type of Fraud Tools in Braintree.

1) Basic Fraud Tools : Basic Fraud Tools by default enable, No developer work required.

2) Advanced Fraud Tools : Advanced Fraud Tools are not set up on your account by default. If you would like use this feature, you must enable Advanced Fraud Tools in the Control Panel. https://www.screencast.com/t/KEAMcHG59G

There are two type of Ad

[2017-09-01 06:45] angelleye opened #854 "Woo Subscriptions - Still an issue here..??"
* https://wordpress.org/support/topic/woo-subscriptions-not-renewing/#post-9459682

User reporting they've updated everything but they are still getting an error on subscription renewals:  81253 - Reference ID Missing.

Look at latest comments from @aussieles in that thread.

[2017-09-01 06:50] angelleye commented on #844
@kcppdevelopers So what about Kount Custom?  How does that one work?

[2017-09-01 07:52] #852 closed

[2017-09-01 09:27] kcppdevelopers commented on #844
@angelleye Braintree's Basic Fraud Tools and Kount Standard have been designed to help the majority of our merchants deter credit card fraud while still allowing legitimate transactions to process.

In Kount Custom, You can either establish and use your own fraud rules with Kount Custom or Braintree's rules through Kount Standard, but not both. Compared to using Braintree's fraud rules, managing y

[2017-09-01 09:59] angelleye commented on #844
@kcppdevelopers Are there details in the docs about what these specific solution requirements are?  This seems to be what PayPal is after because it's for high volume sellers processing 2500+ transactions per month.  Do we know the steps involved but you're saying we can't do it in our plugin for some reason?  Or are we unsure of the steps involved?

[2017-09-01 10:01] angelleye commented on #844
@kcppdevelopers Also, referring to the Basic vs. Advanced option that we do have integrated...I'm a little bit confused there.  It looks Basic is used by default whether you set any config setting or not, right?  And then Advanced would be enabled in the Braintree account.  Why do we even need a Basic/Advanced option in our plugin?

[2017-09-01 10:09] kcppdevelopers commented on #844
@angelleye Basic Fraud Tools by default enable in Braintree account as well our payment gateway setting panel, In Advanced option (Kount Standard) we have to passed device data parameter in payment request.

https://developers.braintreepayments.com/guides/advanced-fraud-tools/client-side/javascript/v3
https://developers.braintreepayments.com/guides/advanced-fraud-tools/server-side/php

[2017-09-01 10:11] kcppdevelopers commented on #844
@angelleye

Below are document/guides for fraud tools:

- Basic Fraud Tools: https://articles.braintreepayments.com/guides/fraud-tools/basic/overview
- Kount Standard: https://articles.braintreepayments.com/guides/fraud-tools/advanced/kount-standard
- Kount Custom: https://articles.braintreepayments.com/guides/fraud-tools/advanced/kount-custom

[2017-09-01 10:21] angelleye commented on #844
@kcppdevelopers The Custom link refers to a doc specific to it:  https://developers.braintreepayments.com/guides/advanced-fraud-tools/client-side/ios/v4#kount-custom-integration

Did you review that?  Is there some reason we aren't able to get that integrated?  The docs explain that the merchant would need to get approval and configure everything in their back end, but then also points to these do

[2017-09-01 12:38] kcppdevelopers commented on #844
@angelleye you are right, now I have added 'Kount Direct' functionality and push to dev branch.

![844](https://user-images.githubusercontent.com/13145461/29970019-88383970-8f40-11e7-9c89-8aab5b25b2a0.png)

[2017-09-01 13:01] kcppdevelopers commented on #803
@angelleye We have not provide UI of MID, I don't think MID user interface is required.

`$gateway = Braintree_Configuration::gateway();
$merchantAccountIterator = $gateway->merchantAccount()->all();

foreach($merchantAccountIterator as $merchantAccount) {
    $currencycode = $merchantAccount->currencyIsoCode;
           $mid = $merchantAccount->id
}`

https://developers.braintreepayments.com/refe

[2017-09-01 13:03] kcppdevelopers commented on #803
Our plugin will work same as Automatic Braintree plugin without MID UI.

[2017-09-01 19:43] angelleye commented on #844
@kcppdevelopers Where does the term "Kount Direct" show up in the docs?  I'm a little confused by that name.

I do see the term used in the Recurley docs for Kount:  https://docs.recurly.com/v1.0/docs/kount

It has info about how to test in the sandbox, too.  Were you able to run sandbox tests with Kount to ensure we're handling various responses from it correctly?

[2017-09-01 19:57] angelleye commented on #844
@kcppdevelopers I do see where it says "We offer a direct integration with Kount..." so I guess that's where you came up with "Kount Direct"..??

[2017-09-01 23:37] angelleye opened #855 "Braintree descriptor error..??"
* https://wordpress.org/support/topic/braintree-descriptor-error/

[2017-09-03 01:41] justlevine opened #856 "Paypal Express Checkout: Unable to programmatically process payment"
When manually calling `$gateways[paypal_express]->process_payment()`, I get hit with a failure generated from angelleye_redirect() (`class-wc-gateway-paypal-express-request-angelleye.php` line 75).

I can only assume that this is because your plugin hooks into woocommerce differently than most other payment gateways.

This is critical for people trying to process wc_orders programmatically (i.e. s

[2017-09-03 05:58] angelleye commented on #856
Express Checkout requires three separate API calls:  SetExpressCheckout, GetExpressCheckoutDetails, and DoExpressCheckoutPayment.  You aren't going to be able to run a single process_payment() request like this.  Or am I missing something..??

You could do something like this if you have a billing agreement on file (WC tokenized payment).  Is that what you're trying to do?

[2017-09-04 05:28] kcppdevelopers commented on #844
@angelleye I have changed Fraud Tools as per Braintree official document.

[2017-09-04 06:12] kcppdevelopers commented on #855
@angelleye it seems user used old version 1.4.4 of our plugin.

[2017-09-04 07:03] kcppdevelopers commented on #798
@MansoorAliKhanOfficial @angelleye I have test everything and it's working fine for me.

[2017-09-04 07:41] Umangvaghela opened #859 "Closing tag is missing"

[2017-09-04 07:43] Umangvaghela commented on #859
In paypal-for-woocommerce.php file, Yoda condition is not proper and also miss few closing tag.

[2017-09-05 00:38] angelleye commented on #859
@Umangvaghela Thanks!

[2017-09-05 00:44] angelleye commented on #803
@daigo75 Thanks!!

[2017-09-05 00:44] angelleye commented on #803
@kcppdevelopers Thoughts on Diego's feedback..??

[2017-09-05 02:41] Umangvaghela commented on #859
@angelleye
Sir thanks for response.

Thanks

[2017-09-05 04:18] kcppdevelopers commented on #803
@angelleye i am agree with @daigo75 Thank you so much @daigo75 for your suggestion.

[2017-09-05 04:58] angelleye commented on #844
@kcppdevelopers Were you able to run tests in the sandbox for the Kount stuff to ensure it's all working based on custom rules now as expected?

[2017-09-05 05:02] angelleye commented on #844
@kcppdevelopers Also, are these steps correct for me to document?

1.  Talk to Braintree and get a Kount account configured with merchant ID.
2.  Configure custom Kount rules within the Braintree/Kount account(s).
3.  Configure the plugin to use Kount Custom and enter your Kount Merchant ID.

Is that basically it?

[2017-09-05 05:03] #844 closed

[2017-09-05 05:12] angelleye commented on #848
@kcppdevelopers This is not working properly.

It displays correctly with the form fields pre-populated and the "ship to different address" hidden, which is good.

But I changed the address during checkout and it still put the order through with the address that was returned by PayPal

[2017-09-05 05:12] angelleye commented on #848
@kcppdevelopers Please fix the above and then mark ready for review again.

[2017-09-05 05:14] angelleye commented on #763
@kcppdevelopers Seems this one is related to #848 so I'm going to wait to review this one until that's cleared up.  Please mark this ready for review again once the EC review page is working properly.

[2017-09-05 05:15] angelleye commented on #848
Looks I mixed up these 2 issues.  The comments above were meant for #763.

[2017-09-05 05:18] #850 closed

[2017-09-05 05:21] #855 closed

[2017-09-06 05:28] angelleye opened #861 "PayFlow bug in re-trying orders after fraud filter failure..??"
* https://www.angelleye.com/support/scp/tickets.php?id=1416

Interesting scenario, and I'm not sure if this is a PayFlow bug or something that's always happened and we've just never seen it, which would be a bit odd.

User reports that when an order is declined due to fraud filter failure (ie. AVS mis-match) and then you re-submit the order with a different address it ends up failing with a duplic

[2017-09-06 05:58] angelleye opened #862 "Error Email Improvement"
Here's a copy of an error email I just received on our own live site:

![image](https://user-images.githubusercontent.com/629241/30096423-fb3818e0-929d-11e7-8caf-d9aac081e8a3.png)

This does not look very good.  I'd like to make some simple improvements here.  I would like the order of info to be like this:

**PayPal {api_name} API Call Failed**

**Error Code**: {error_code}
**Error Severity Code*

[2017-09-06 05:59] angelleye commented on #862
I believe we have some customer info included in these emails when available, too.  We need to do the same sort of thing with that info, too, if it isn't already like that.

[2017-09-06 08:43] kcppdevelopers commented on #793
@angelleye I have checked issue and it's working fine for me.

[2017-09-06 08:49] kcppdevelopers commented on #853
@angelleye ohh, I have checked with 3.2.0 Beta 1 version of woo and it seems not working well with our plugin. let me work on this issue.

[2017-09-06 13:25] kcppdevelopers commented on #853
https://github.com/woocommerce/woocommerce/issues/16724

[2017-09-07 02:46] angelleye commented on #793
@kcppdevelopers I'm not sure how you tested this, but I was indeed able to reproduce the problem the user mentioned.

Just now I ran a test order on woo.angelleye.com using our current dev branch.  My settings are configured so that the option to "use the same address for billing as PayPal returns for shipping" is disabled in the gateway settings.

When I checkout, though, I do indeed see the Bill

[2017-09-07 03:02] angelleye commented on #798
It seems this user has billing agreements enabled and that is why it's not allowing guest checkout.  Just need to get billing agreement disabled in EC settings as well as product level settings, and then of course make sure all other settings for guest checkout are configured to solve the problem.

[2017-09-07 03:02] #798 closed

[2017-09-07 03:13] angelleye opened #863 "Woo Smart Coupons Compatibility - Shipping Calculation Conflict"
* https://www.angelleye.com/support/scp/tickets.php?number=101566

We worked on this in #356 but apparently we didn't get it fully fixed.  Something about our calculations for order totals is causing the shipping to come to -95.00, which of course PayPal will not accept.

The ticket includes more details including request log for reference.  I have requested temporary login credentials so we can t

[2017-09-07 05:45] kcppdevelopers commented on #793
@angelleye  you are right, we have also follow below WooCommerce setting.

https://www.screencast.com/t/KK4uFevK0dyJ

[2017-09-07 09:17] #848 closed

[2017-09-07 09:33] angelleye commented on #763
@kcppdevelopers This looks good now except that we don't have a label for "Shipping Details"...

![image](https://user-images.githubusercontent.com/629241/30156563-a049792c-9385-11e7-8b4a-caea253d337b.png)

I'd also like the labels to be adjusted for capitalization.

- Billing Details
- Shipping Details

[2017-09-07 09:47] #803 closed

[2017-09-07 09:55] angelleye commented on #853
@kcppdevelopers Is this one ready to close now?

[2017-09-07 12:39] kcppdevelopers commented on #763
I have added "Shipping Details" label in  issue #793 https://www.screencast.com/t/rHSanz2mTIu

Billing Details and Shipping Details capitalization is not possible because it's default text of woo. https://www.screencast.com/t/x2bo8zijG8bU

[2017-09-07 12:43] kcppdevelopers commented on #853
@angelleye No, Need to check few thing..

[2017-09-07 20:50] iMansoorAliKhan opened #864 "Compatibility issue with AffiliateWP Version: 2.1.3.1"
https://www.angelleye.com/support/scp/tickets.php?id=1444

[2017-09-10 21:50] angelleye opened #865 "Add extra meta-data / custom fields to WC orders."
* https://wordpress.org/support/topic/meta-data-passed-to-order/

[2017-09-10 21:53] angelleye opened #866 "Fix typo in WC order notes."
Our plugin adds the PayPal transaction ID to the WC order notes, but there is a typo:

Need to fix the word Transaction.  This was in PayFlow, but we should check the others, too.

[2017-09-11 18:29] MansoorAliKhanOfficial commented on #828
@angelleye , I'm sorry but its working fine now, may be due to some cache issues or something else unknown to me, I experienced that issue. you can close this now.

[2017-09-12 01:48] #828 closed

[2017-09-12 03:32] angelleye opened #867 "Reference Transaction Feedback"
* https://mail.google.com/mail/u/0/#inbox/15df034895449be5

[2017-09-12 03:38] angelleye commented on #624
PayPal Knowledge doc:  https://www.paypal-knowledge.com/infocenter/index?page=content&id=FAQ2150&expand=true&locale=en_US

[2017-09-12 03:39] angelleye opened #868 "PayPal REST Documentation"
Need to make sure website is updated with docs for REST.

PayPal Knowledge doc:  https://www.paypal-knowledge.com/infocenter/index?page=content&id=FAQ2149&expand=true&locale=en_US

[2017-09-12 03:40] angelleye opened #869 "Braintree Docs"
Need to make sure website has good docs for Braintree.

PayPal KB:  https://www.paypal-knowledge.com/infocenter/index?page=content&id=FAQ1945&expand=true&locale=en_US

[2017-09-12 11:01] #677 closed

[2017-09-12 11:04] #866 closed

[2017-09-12 11:06] angelleye commented on #861
@kcppdevelopers Can you please elaborate on what was done here for me?  It looks like there's quite a bit of code changes here..??

[2017-09-12 12:15] kcppdevelopers commented on #861
@angelleye  I have checked code and found lot code are not readable format, I just make it readable and resolved above issue.

[2017-09-13 04:42] angelleye opened #870 "Express Checkout - Reference Transaction display adjustment necessary..??"
* https://wordpress.org/support/topic/2-order-ids

Take a look at the info in that thread.  He says that based on the location of the Reference Transaction box/widget there was a conflict with his shipment scanning plugin.

Anything we can do to avoid this conflict no matter where the boxes are laid out on the page?

[2017-09-13 04:42] angelleye commented on #870
@kcppdevelopers If you can find a real quick fix let's go ahead and get it done please.  If it's going to take more than an hour let's move it to 1.4.7.

[2017-09-13 04:51] kcppdevelopers opened #871 "Express checkout data cleanup"

[2017-09-13 06:33] angelleye opened #872 "PayFlow - Shipping Only Bug"
* https://mail.google.com/mail/u/0/#inbox/15e3f2dc2c5d697c

I feel like we've addressed in this in the past, but have a fresh report of this problem happening on our latest release.

They're trying to sell a product that is free but the buyer has to pay for shipping, so shipping is the only charge on the order.  The user says that with Express Checkout things work fine, but with PayFlow it's still

[2017-09-13 10:33] #859 closed

[2017-09-13 10:42] kcppdevelopers commented on #854
@angelleye Can you please ask user to provide website login details and FTP details for more troubleshot?

[2017-09-13 13:29] angelleye commented on #854
@kcppdevelopers We've asked them to submit a ticket.  @MansoorAliKhanOfficial Please keep an eye out for that and update here when you see that ticket.

[2017-09-13 18:45] MansoorAliKhanOfficial commented on #840
Got someone else asking the same:
1- https://www.angelleye.com/support/scp/tickets.php?id=1437

[2017-09-14 04:56] kcppdevelopers commented on #770
@angelleye I have test this issue and it's working fine with Currency Switcher plugin.

[2017-09-14 05:42] kcppdevelopers commented on #405
https://www.screencast.com/t/rj9H4HDaBX

[2017-09-14 06:57] angelleye opened #873 "Translation file problem..??"
* https://mail.google.com/mail/u/0/#inbox/15e7747934c313a6

This user is trying to translate but opening our default language files in POEdit is causing problems..??

![image](https://user-images.githubusercontent.com/629241/30415965-faed2c2e-98ef-11e7-92b6-1f062913155b.png)

[2017-09-14 08:53] kcppdevelopers commented on #873
@angelleye I think user should contribute [here](https://translate.wordpress.org/projects/wp-plugins/paypal-for-woocommerce) instead of create own language file.

[2017-09-14 10:58] angelleye commented on #873
@kcppdevelopers I see you did make a commit here.  Is this just a fresh build of the language files so it's current with our plugin or is there something more to this commit?

Also, why are we only 95% stable for English in that WP table?

[2017-09-14 11:33] kcppdevelopers commented on #873
@angelleye

![lang](https://user-images.githubusercontent.com/13145461/30427670-44f3c822-996e-11e7-9510-eb4e2380a44c.png)

25 string Untranslated that's why it's display 95%

[2017-09-14 13:50] angelleye commented on #873
@kcppdevelopers So does that mean we don't have the __() wrapped around them, or what?  English is the primary language, so how can we not have a "translation" for 25 strings?

[2017-09-15 05:16] angelleye opened #874 "Express Checkout - Conflict with Polylang plugin..??"
* https://wordpress.org/support/topic/proceed-to-paypal-button-paypal-express-creates-a-404-error-on-site

[2017-09-15 09:00] kcppdevelopers commented on #874
#666

[2017-09-15 09:19] #853 closed

[2017-09-15 09:22] #863 closed

[2017-09-15 09:26] #861 closed

[2017-09-15 09:29] #870 closed

[2017-09-15 09:38] #405 closed

[2017-09-15 09:38] #770 closed

[2017-09-15 09:39] #873 closed

[2017-09-15 09:41] angelleye commented on #874
@kcppdevelopers I see it's a duplicate, but in the previous one you basically just say that we re-write everything so it should be working now.  I don't see any actual commits to resolve the issue specifically.

This current report is from somebody using our current release.  I'll double check that, but I'm pretty sure they are indeed updated to current release.

[2017-09-15 09:43] #871 closed

[2017-09-15 09:45] #793 closed

[2017-09-15 09:46] #763 closed

[2017-09-15 09:50] kcppdevelopers commented on #874
@angelleye https://github.com/angelleye/paypal-woocommerce/issues/666#issuecomment-299129186

[2017-09-15 09:50] #872 closed

[2017-09-16 04:59] MansoorAliKhanOfficial opened #875 "EC : Thank you page WPML issue"
https://www.angelleye.com/support/scp/tickets.php?id=1429
Please take a look at this ticket her have tested it in mutliple ways but the thank you page dont return to correct translation, like the checkout page was in chines , it goes to paypal again PP is in chines but when it is returned to site its in english
Do you think of any thing that would be causing this issue?

[2017-09-17 08:36] angelleye commented on #875
@kcppdevelopers There's a lot of info in that ticket linked above, but basically it comes down to the fact that on a basic Twenty Fifteen theme our review page with Express Checkout is not translating properly with WPML.  Is that something we can fix pretty quickly?  Maybe something we need to do with that page template to make sure it's compatible with WPML..??

[2017-09-20 10:48] kcppdevelopers opened #876 "Multi Account Manager hooks"

[2017-09-21 08:49] angelleye opened #877 "Language file problems..??"
* https://mail.google.com/mail/u/0/#inbox/15e7747934c313a6

In #873 we regenerated the language files, but the user that reported issues says it's still not working for him.

@kcppdevelopers Please provide a quick video demo showing that we are able to use the language files successfully with POEdit.

[2017-09-21 09:15] kcppdevelopers commented on #877
@angelleye https://www.screencast.com/t/yygRMCQS9

[2017-09-21 09:29] angelleye commented on #877
@kcppdevelopers Thanks.  Sent to user to review and hopefully get more info about when it's failing for them.

[2017-09-21 09:51] kcppdevelopers commented on #877
@angelleye Could you please ask user to clear C:\Users\bureau\AppData\Local\Temp folder and re try again?

https://user-images.githubusercontent.com/629241/30415965-faed2c2e-98ef-11e7-92b6-1f062913155b.png

[2017-09-21 09:53] angelleye commented on #877
@kcppdevelopers Okay, will do.

[2017-09-21 22:00] angelleye opened #878 "Express Checkout - Icons for WC checkout page general list of gateways."
* https://wordpress.org/support/topic/paypal-png-insecure

In #251 we addressed an issue where the graphic on the checkout is not using https:// when it should.  It looks like those commits were never merged into our core code, though.

Looking at what we do have in our code it seems we did try to address this:

[code]

I'm a little bit confused by this whole piece of logic.  I'm not sure why we'r

[2017-09-22 22:36] angelleye opened #879 "Braintree - PHP failure when viewing WC order screen for failed order..??"
* https://mail.google.com/mail/u/0/#inbox/15eabb253a76ab1c

The user reports that when an order is placed with Braintree and the payment fails (simple decline, for example), it comes in to WC as Failed which is expected, however, when you try to view the order details there's a fatal error:

![image](https://user-images.githubusercontent.com/629241/30766719-9b3a49d2-9fbc-11e7-9b77-765e2a3088ee.png

[2017-09-22 22:45] angelleye commented on #879
This seems to have happened with one of our most recent updates.  Not sure what we did in Braintree that would suddenly cause this..??  Apparently we're making calls to the Braintree SDK methods that require a transaction ID, but of course with a failed payment we don't have a transaction ID to pass in.  So we need to work some logic in to only make those calls for successful auths/sales when we d

[2017-09-23 01:31] kcppdevelopers commented on #879
#780

[2017-09-23 06:54] #879 closed

[2017-09-23 07:05] angelleye opened #880 "Fraud Filter Handling Bug..??"
* https://www.angelleye.com/support/scp/tickets.php?id=1480

![image](https://user-images.githubusercontent.com/629241/30770985-8857cc8a-a003-11e7-96b1-94aba993f629.png)

Fix – Resolves an issue in PayFlow where Fraud Filter flags sometimes cause duplicate order failures on re-attempts. (#861)

[2017-09-23 09:27] kcppdevelopers commented on #878
@angelleye we are using paypal.png since last 1.3.0 milestone, please confirm, are you really want to changed express checkout gateway default image to paypal-credit-card-logos.png ?

[2017-09-23 09:33] kcppdevelopers commented on #878
@angelleye it seems paypal-credit-card-logos.png image is not suitable for PayPal Express checkout payment method.

[2017-09-23 09:44] kcppdevelopers commented on #880
@angelleye Can you please explain with more details?

[2017-09-23 09:48] angelleye commented on #878
@kcppdevelopers Yeah, you're right.  It would make sense if Guest Checkout is enabled to show that you can pay with PayPal or credit cards, but if it's just PayPal then it wouldn't be good to show them all.

I do want to improve that graphic.  It just doesn't look good because it's not centered nicely.  Can we replace it with this one?  You may need to resize it so it fits well.

![paypal-logo](ht

[2017-09-23 09:51] angelleye commented on #880
For # 2 above, he's referring to the option we have in settings for Fraud Management Filters.  He has it set to "Place order on hold for further review", however, he says the WC order is getting set to Processing instead of On Hold even when a fraud filter was triggered.

[2017-09-23 09:52] angelleye commented on #880
I think # 3 is basically a continuation of the issue, and he provides the graphic to show that the WC order notes do show the fraud filter was triggered in the PayPal response, but the WC order status is Processing instead of On Hold.

[2017-09-23 10:38] kcppdevelopers commented on #878
@angelleye right, we need to improve graphic.

1) if show_paypal_credit is enabled: https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppppcmcvdam.png

2) if Guest Checkout is enabled: https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png

3) default: https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png

[2017-09-23 11:01] kcppdevelopers commented on #878
![untitled](https://user-images.githubusercontent.com/13145461/30772615-9073341c-a07c-11e7-8840-04efcf3917e3.png)

[2017-09-23 17:26] MansoorAliKhanOfficial commented on #875
Is there any update to this? can we get this a bit earlier?

[2017-09-23 23:37] angelleye commented on #878
@kcppdevelopers How come the PayPal Pro option here doesn't have any graphic/icons next to it?

[2017-09-23 23:39] angelleye commented on #875
@kcppdevelopers Is this something that can be fixed quickly?  If so let's go ahead and take care of it here on 1.4.6.4.  If not, we'll need to move it back to 1.4.7.

[2017-09-25 09:52] kcppdevelopers commented on #880
@angelleye I have checked our logic it's working well, Can you please ask user to provide gateway setting screenshot and log file for more troubleshot ?

[2017-09-25 16:23] ripieces opened #881 "Auto generated password is not sent in email"
The angelleye_process_customer function in  paypal-woocommerce/angelleye-includes/express-checkout/class-wc-gateway-paypal-express-request-angelleye.php

passes a generated password to the wc_create_new_customer function

This will cause the $password_generated to be false in the function, which in return causes the password not to be displayed in the standard email template.

As a workaround I ch

[2017-09-26 04:15] MansoorAliKhanOfficial opened #882 "WC : Incontext cart issue"
![image](https://user-images.githubusercontent.com/11312949/30842250-70142f30-a29a-11e7-9483-45412455825a.png)

I see this error while checkout from cart , then URL is sent to normal payment page in browser
Another person I saw yesterday reporting same on WP forum so there is something going on.
Here is the URL : https://wordpress.org/support/topic/cant-show-checkout-button/#post-9526339
Common be

[2017-09-26 05:56] kcppdevelopers commented on #878
![878](https://user-images.githubusercontent.com/13145461/30844566-3fa581d8-a2ad-11e7-9cb7-dc5676cef0f8.png)

it's working well, I was have set wrong path in gateway setting panel.

[2017-09-26 06:07] angelleye opened #883 "Authorization order status in WC."
We've gone back and forth this a couple of times now I think because we keep getting different feedback from users.

As it stands now when an order is Authorization - Pending status, we're setting it to On Hold in WC.  Some people like this but others prefer to go with Processing instead.

As such, I'd like to add the option into our settings.  If the user chooses Authorization for the action type

[2017-09-26 06:17] angelleye commented on #881
Thanks for the feedback.  We'll take a look and make any necessary adjustments.

[2017-09-26 06:18] angelleye commented on #881
@kcppdevelopers Your thoughts on this?

[2017-09-26 06:19] angelleye commented on #878
@kcppdevelopers Please show me again what shows up here for PayPal Express when PayPal Credit is enabled as well?

[2017-09-26 07:21] angelleye commented on #878
@kcppdevelopers I checked it out, and when PayPal Credit enabled in settings I'm getting this on the WC checkout page:

![image](https://user-images.githubusercontent.com/629241/30847497-60b44efa-a261-11e7-8d68-224a5801ec7b.png)

So it's still not showing me a graphic that includes PayPal Credit..??

[2017-09-26 07:23] angelleye commented on #878
@kcppdevelopers Yeah, seems our logic here still isn't right.  When I disable PayPal Credit I end up with this:

![image](https://user-images.githubusercontent.com/629241/30847579-a74f7a2e-a261-11e7-8865-d3e973cb7b96.png)

However, I do have Guest Checkout enabled, so really the image above is what should show up in this case.

[2017-09-26 07:26] angelleye commented on #878
So to reiterate...

1)  If Express Checkout is enabled, but both PayPal Credit and our option to "Allow customers to checkout without a PayPal account using their credit card" are disabled, then we should see the PayPal only graphic.

![image](https://user-images.githubusercontent.com/629241/30847649-e6d0047a-a261-11e7-8165-8d76ca1d58f7.png)

2)  If Express checkout is enabled, PayPal Credit is di

[2017-09-26 07:28] #876 closed

[2017-09-26 07:29] #875 closed

[2017-09-26 13:03] kcppdevelopers commented on #878
@angelleye I think one more condition we miss here.

4) If Express is enabled, PayPal Credit is enabled, and "Allow customers to checkout without PayPal..." is disabled, then we should see the PayPal +PayPal Credit icon. right?
![screenshot-2017-9-26 checkout dev](https://user-images.githubusercontent.com/13145461/30861680-28611b68-a2e9-11e7-98a6-5ba8fb871357.png)

[2017-09-26 13:37] angelleye commented on #878
@kcppdevelopers yes correct

On Sep 26, 2017 8:03 AM, "kcppdevelopers" <notifications@github.com> wrote:

[2017-09-26 16:22] ripieces commented on #881
@kcppdevelopers I think the [commit](https://github.com/angelleye/paypal-woocommerce/commit/77b8829525456855a426e4af0934d2e5363c8695#diff-4e8488a26eac7ab1d37129f75f371ce5R1302) is exactly the opposite of what you wanted:

See
https://github.com/woocommerce/woocommerce/blob/3522857d23051844bea742a37a1b0b242f7850af/includes/wc-user-functions.php#L81

I think instead of
`'yes' === get_option( 'woocom

[2017-09-27 06:29] #878 closed

[2017-09-27 06:32] #882 closed

[2017-09-27 06:34] #881 closed

[2017-09-27 08:59] ripieces commented on #881
Thank you :-)

[2017-09-27 10:10] angelleye opened #884 "Settings Panel Cleanup"
Right now we have our settings panel under Settings -> PayPal for WooCommerce.  Inside this we have tabs for each of the different gateways, but in each of those tabs it simply links to the settings panel under WC -> Settings -> Checkout.

I'd like to clean this up so we don't have so many tabs.  We could just have one tab that says "PayPal Payment Gateway Products" and then list each of the links

[2017-09-27 13:09] angelleye opened #885 "Express Checkout - Wrong address populating PayPal guest checkout form."
* https://mail.google.com/mail/u/0/#inbox/15cfae29fc205705
Another report for this : https://www.angelleye.com/support/scp/tickets.php?id=1653
**Ticket created on 9th december:2017**

Video: https://www.dropbox.com/s/zs25n3ixut6esq0/PayPalExpressBug.mov?dl=0

When the WC checkout page is used and you fill out the billing and shipping address, then you're sent to PayPal, the guest checkout form for

[2017-09-27 13:15] angelleye commented on #885
The fields in the SEC request are indeed specific to SHIPTO address, but it doesn't make sense that we'd be pre-populating the credit card billing with shipping address and not billing.  Seems to be a quirky thing with the way PayPal is working here.

[2017-09-27 13:18] angelleye commented on #885
I think we're going to need an option here so people can set this how they want.  I think we should set this up pretty specifically, though, based on other settings.

If our "PayPal Account Optional" setting is enabled in EC gateway settings, and our "Checkout Page Display" is set to Display in general list of enabled gateways on the checkout page, then we would display an additional option for "P

[2017-09-27 13:22] angelleye commented on #885
Hmmm...the thing is, if we pass the WC billing in the SEC shipping fields, then it would pre-populate the guest checkout form with billing as expected, but the shipping address on the order would then be incorrect in the PayPal review pages.  Need to think about this more...

[2017-09-27 17:50] iMansoorAliKhan opened #886 "Braintree Payments Javascript error on checkout payment button click."
There seems like some issue left in 1.4.6.3 and even in the current release its not wokring.
https://www.angelleye.com/support/scp/tickets.php?id=1477
When checking out it shows error : error processing checkout
In log it shows following.

For more please see the ticket.

[2017-09-27 20:26] angelleye opened #887 "PHP Fatal Error - Uncaught Error - get_base_country()..??"
* https://mail.google.com/mail/u/0/#inbox/15ec46bd91eee97d

User reports this is happening on two of his sites: one running PHP 7.0 and the other running PHP 5.6.

[2017-09-27 21:01] angelleye commented on #887
Customer disabled other plugins and found that the WordPress 2-Step Verification plugin caused this error.

[2017-09-27 21:01] #887 closed

[2017-09-28 05:03] angelleye commented on #886
@MansoorAliKhanOfficial The user says he's in Italy.  REST CC is only available for US merchants.

[2017-09-28 06:37] MansoorAliKhanOfficial commented on #886
![image](https://user-images.githubusercontent.com/11312949/30952370-0ad9258c-a441-11e7-8458-e16528cc70fc.png)
Thanks for bringing this to my knowledge, But there is another I'm using a theme name **Deli** a child theme of storefront and seeing the above console error

[2017-09-28 06:49] angelleye commented on #886
@kcppdevelopers Go ahead and take a look into this please.

[2017-09-28 07:05] kcppdevelopers commented on #886
@angelleye @MansoorAliKhanOfficial  it seems Autoptimize plugin cache issue. Can you please uncheck minifies CS and JS from plugin option? and re check again.

[2017-09-28 07:57] MansoorAliKhanOfficial commented on #886
I wasn't cache's JS already and now I have opted CSS as well still the same error if you want to check the backend I will send you details over slack

[2017-09-28 08:07] kcppdevelopers commented on #886
@MansoorAliKhanOfficial yes, please send backend details over slack?

[2017-09-28 17:43] MansoorAliKhanOfficial commented on #886
Sent you already there. Soon after I sent you message here. Please check :)

[2017-09-29 14:23] angelleye opened #888 "Express Checkout - Subscription renewal PHP failure..??"
* https://mail.google.com/mail/u/0/#inbox/15e74bb27803e5ff

![image](https://user-images.githubusercontent.com/629241/31020171-d4a2f602-a4f7-11e7-91f3-965252f8ded8.png)

[2017-09-29 16:41] kcppdevelopers commented on #886
@MansoorAliKhanOfficial I have review your test website and place test order it seems working well.

[2017-09-30 05:27] MansoorAliKhanOfficial commented on #886
@kcppdevelopers Sorry, I think I didn't explain well in my last screenshot. The error resolved as there is some dependency of location and currency for REST, which is limited to USA as Andrew told. 1- we need to add a message on the dashboard for that so that we dont get any tickets for this issue.
2- the error here is with stripe js as you can see in the console. when you hit rest credit button o

[2017-10-02 17:12] iMansoorAliKhan opened #889 "AVS failure sending New order emails to clients"
https://www.angelleye.com/support/scp/tickets.php?id=1490

[2017-10-02 18:24] angelleye commented on #889
@kcppdevelopers Please check this one out.  Looks like we messed something up with our adjustments to AVS failures and order status..??

[2017-10-03 07:49] angelleye opened #890 "Express Checkout - Shipping required popping up again..??"
* https://mail.google.com/mail/u/0/#inbox/15ecf141d56ec759

[2017-10-03 07:51] angelleye commented on #890
[log-files.zip](https://github.com/angelleye/paypal-woocommerce/files/1351508/log-files.zip)

[2017-10-03 07:53] angelleye commented on #890
@kcppdevelopers

So he mentioned this was happening with Express, but the log files he provided look like they're for PayFlow.  Also, the error in the log file is about the cart items not adding up, and he did confirm they are using coupons.

So it seems we're still running into our cart total error in this configuration, and somehow that is also causing a problem on our review page..??

[2017-10-03 07:53] angelleye commented on #890
I have asked for credentials to their test site (although you may still already have them from before...this is the cannapet client.)

[2017-10-03 08:23] angelleye opened #891 "Payments Advanced - Payment completes successfully but WC order is pending and then cancels..??"
* https://mail.google.com/mail/u/0/#inbox/15cfae29fc205705

Payment completes successfully but WC order is pending and then cancels..??

![image](https://user-images.githubusercontent.com/629241/31220931-a026b2b2-a987-11e7-8f59-54cb70ae66e2.png)

[paypal_advanced-0919a652d9d77eb4487e470fd94bbf54 (1).log](https://github.com/angelleye/paypal-woocommerce/files/1351588/paypal_advanced-0919a652d9d77eb4

[2017-10-03 18:14] robwatson-intechra opened #892 "L_COST1 showing +$0.02 difference between cart item amounts and order amounts?"
We had a customer who tried to apply a coupon code discount (15% off) to a $179.00 order that is comprised of 6 items at $29.83 each plus one free item at $0.00. That would have yielded an order amount of $152.15. But the PayPal processor claimed that the item amounts didn't match. The specific error from PayPal was:

`PayFlow API call failed. Error Code: 7 Detailed Error Message: Field format err

[2017-10-04 13:26] kcppdevelopers commented on #889
@iMansoorAliKhan @angelleye

It seems client has selected Fraud Management Filters value as Ignore warnings and proceed as usual in gateway setting.

![payflow_error](https://user-images.githubusercontent.com/13145461/31178119-ba8e6476-a935-11e7-9d34-38cb2c55fde6.png)

[2017-10-04 13:33] kcppdevelopers commented on #886
@iMansoorAliKhan  it seems you are using old/invalid API key.

![2017-10-04_1901](https://user-images.githubusercontent.com/13145461/31178413-992c9ec8-a936-11e7-8d49-083508b7f908.png)

[2017-10-05 09:43] angelleye commented on #891
One interesting thing I notice in the graphic above is it says "Payment via ." and it doesn't include the actual payment method.

[2017-10-05 09:50] kcppdevelopers commented on #891
@angelleye yes right, It seems Just created basic order as pending status, Payment process part is not involved due to server down or PHP error.

[2017-10-05 10:01] kcppdevelopers commented on #890
@angelleye I have review log file and it seems client using our old version of our plugin. Can you please ask to client and confirm our plugin version?

[2017-10-05 15:02] angelleye commented on #892
@robwatson-intechra I'm sorry for the delay getting back to you on this.  Somehow I missed this.

The details you've provided should help us track down what's causing this and get it resolved.  We'll do that ASAP.  Until then, if you disable the option to "Send Line Items to PayPal" in the PayFlow settings this error should go away.  Please give that a try and let me know if it helps.

This is som

[2017-10-05 16:52] robwatson-intechra commented on #892
Thank you! I appreciate you making this a high priority. I'm checking with the business owner on whether the workaround will be viable for a short time period, but that sounds reasonable until it gets fixed.

[2017-10-06 06:04] iMansoorAliKhan commented on #889
@kcppdevelopers  So you are saying that if this is option is enabled , regardless of any error the order will be process and and new order email will be sent?

[2017-10-06 08:28] kcppdevelopers commented on #889
@iMansoorAliKhan yes, if above option is enabled then it will ignore fraud filter and order process and new order will be sent.

[2017-10-06 08:35] angelleye opened #893 "Duplicate orders since last update..??"
* https://www.angelleye.com/wp-admin/post.php?post=7424&action=edit

[2017-10-06 09:35] kcppdevelopers commented on #893
@angelleye  Can you please ask for website login details for more troubleshoot?

[2017-10-06 09:50] kcppdevelopers commented on #892
@angelleye I am little bit confused about log file, Can you please ask to website URL for more troubleshot?

[2017-10-06 15:41] robwatson-intechra commented on #892
@kcppdevelopers The website URL is https://intechrahealth.com

[2017-10-07 08:24] iMansoorAliKhan opened #894 "No Pending order if express checkout button used"
https://wordpress.org/support/topic/no-pending-order-if-express-checkout-button-used/

I have just tested it on my test site as well and also discussed it with Andrew, seem like some issue is there as I did not get it working even when I'm login to my site and placed an order using EC button.

[2017-10-07 12:25] angelleye commented on #892
@robwatson-intechra Would you be able to [submit a ticket here](https://www.angelleye.com/support) and provide temporary login credentials so we can troubleshoot more directly if necessary?

[2017-10-07 12:26] angelleye commented on #892
@iMansoorAliKhan  Make sure to assign the ticket to @kcppdevelopers when you see it please, and update here to let him know it's ready.

[2017-10-07 14:35] LiamBailey commented on #894
Hi - I would like to take a look at this as one of my pull requests for Hacktoberfest - would this be possible?

[2017-10-07 14:35] LiamBailey commented on #894
@iMansoorAliKhan ^^

[2017-10-07 16:46] iMansoorAliKhan commented on #892
Ok, I think I might have missed this notification. I will take care of it for sure.

[2017-10-07 16:59] robwatson-intechra commented on #892
I've submitted it as ticket #402257

[2017-10-09 03:00] angelleye opened #895 "Express Checkout - Double check shipping address when WC checkout page is used."
* https://mail.google.com/mail/u/0/#inbox/15eee3f7da7bc69c

I don't remember exactly how we have this setup, so just need to run a test and verify.

In a situation where the WC checkout page is used, I'm pretty sure we're sending the shipping address entered to PayPal, but I don't remember if we're using SHIPPINGOVERRIDE or not..??

Need to see whether or not we are, and then consider options for

[2017-10-09 03:18] angelleye commented on #895
User question...

I've been using a home built IPN listener for years in this way before WooCommerce.
Is it correct to assume that I get the shipping address from PayPal in the IPN if I remove the checkout page address form and check the address override setting?

Here is my response.  Need to make sure this response is indeed accurate.

[2017-10-09 05:45] kcppdevelopers commented on #894
@iMansoorAliKhan I have test above issue and it's working fine for me. we are only create pending order and save customer data when user placed order from checkout page using gateway list and Save Abandoned Checkouts is enable on gateway setting.

[2017-10-09 08:41] angelleye commented on #890
@kcppdevelopers I will give you credentials in Slack.

[2017-10-09 09:19] kcppdevelopers commented on #890
@angelleye I have review and found they are using 1.4.6.2 version

[2017-10-09 09:53] angelleye commented on #886
@kcppdevelopers I'm a little confused here.  You told @iMansoorAliKhan he was using an old key, but then you did make a commit and mark ready for review.  So I guess there was indeed an issue you had to resolve..??

[2017-10-09 09:58] kcppdevelopers commented on #886
@angelleye  I just remove console.log for display debug data on browser console and change data-log-level='error" for hide javascript notice.

[2017-10-09 10:00] kcppdevelopers commented on #886
I have tested with @iMansoorAliKhan and now it's working fine

[2017-10-09 10:02] angelleye opened #896 "Express Checkout - Skip Final Review Improvements"
Our review page for Express Checkout is only necessary if the buyer needs to review shipping/handling/tax amounts on the order.  If none of these things are included on the order then the review page could be skipped.

Some sites include both products that do require the review page and other products that do not.  There is no way to only display the review when necessary at this point.

I'd like

[2017-10-09 10:04] angelleye commented on #889
@iMansoorAliKhan Did you verify this with the user?  Can we close this issue?

[2017-10-09 10:05] angelleye commented on #893
@kcppdevelopers Yes, I've been trying to get that from them.  Will update you as soon as I'm able to get it.

[2017-10-09 10:06] angelleye commented on #891
They moved to PayPal Pro and they aren't having issues there.  Sinc we don't have any other reports of this I'll close the issue.

[2017-10-09 10:06] #891 closed

[2017-10-09 10:17] angelleye commented on #890
I have informed the user they need to update to our latest version and it should resolve their issue.

[2017-10-09 10:17] #890 closed

[2017-10-09 12:10] #884 closed

[2017-10-09 12:11] #886 closed

[2017-10-09 12:14] #888 closed

[2017-10-09 12:17] angelleye commented on #894
@kcppdevelopers I wasn't aware that we aren't saving orders when the WC checkout page is skipped.  When do we create the WC order in that case?  Is it after they're returned to our review page?

We should probably adjust the setting description to make sure people understand that.

[2017-10-09 12:20] #894 closed

[2017-10-10 09:04] angelleye commented on #896
Of course, there are additional things we need to consider in any dynamic formula we come up with.  For example, WC guest checkout or terms and conditions settings may require a review page, but again, only if the WC checkout page wasn't used.

[2017-10-10 16:58] iMansoorAliKhan commented on #889
I had sent a reply to the client and here is what they said.

[2017-10-11 05:31] angelleye commented on #889
@iMansoorAliKhan I'm confused.  The screenshot @kcppdevelopers placed above shows "Ignore warnings and proceed as usual", but the client is saying they didn't have it set that way..??

If I understand correctly, what's happening is the order is getting set to Processing which triggers the new order email, but then if you have it set to place on hold it's getting switched after that.  Is that corre

[2017-10-11 05:33] angelleye commented on #892
@kcppdevelopers Looks like they've provided credentials for us in the ticket, so we need to get this worked out please.

[2017-10-11 06:35] angelleye opened #897 "PayFlow - Refund Transaction ID"
I just submitted a refund through WC order that was paid with PayFlow.  Upon doing so, I see the refund line and it shows -15.00, but I do not see the refund transation ID anywhere in the order details now..??

![image](https://user-images.githubusercontent.com/629241/31425281-31f8b8e8-ae24-11e7-835a-9b4040b4e21c.png)

We were supposed to have added refund transaction ID into notes and meta field

[2017-10-11 06:43] iMansoorAliKhan commented on #889
Do you need his site login to take a look?

[2017-10-11 06:45] kcppdevelopers commented on #889
@iMansoorAliKhan yes, it would be great.

[2017-10-11 06:47] iMansoorAliKhan commented on #889
@kcppdevelopers I have responded to his ticket, I will update here upon their reply.

[2017-10-11 07:19] angelleye opened #898 "Filter Hooks to adjust checkout field labels..??"
* https://wordpress.org/support/topic/labels-on-fields/

Need to look into adding filter hooks for all of our gateways so that people can adjust the field labels if they want to.

[2017-10-11 12:19] kcppdevelopers commented on #892
@angelleye @iMansoorAliKhan

I have review website and found @robwatson-intechra using  Version 1.4.6.1 of PayPal for WooCommerce plugin, current version is 1.4.6.4.

I have test same scenario with 1.4.6.4 version and it's working fine on my demo server.

[2017-10-11 13:04] robwatson-intechra commented on #892
I've updated the plugin now on the live site. So is this particular issue definitely and directly addressed in 1.4.6.4? Sorry if my not having updated the plugin caused more turmoil than necessary.

[2017-10-11 13:12] kcppdevelopers commented on #897
@angelleye

It seems it's partially refunded order, In the partially refund order page is not reloaded that why you are not seen refund ID on post meta field and order note. if you re load order details page, Refund ID must be there on post mete field as well on the order note.

[2017-10-11 20:51] angelleye opened #899 "WooCommerce update breaks Proceed to Checkout button if our plugin is installed..??"
* https://mail.google.com/mail/u/0/#inbox/15f0cf2aafa8ca4f
* https://wordpress.org/support/topic/woocommerce-3-2-0-now-missing-cart-checkout-button/

[2017-10-11 20:55] angelleye commented on #899
I was able to reproduce this problem on woo.angelleye.com.  Definitely need to get this fixed ASAP!  Especially since we have already listed it as compatible with 3.2!!  I guess we didn't actually test that..??

[2017-10-12 05:29] angelleye commented on #892
@robwatson-intechra Woo does funky things with rounding in calculations at times, so this particular issue is something we've battled for quite some time.  It used to be a lot worse than it is now, and we don't get many reports of this at all any more, but every once in a while it pops up again depending on somebody's unique configuration.

We now have functions in our plugin specific to running a

[2017-10-12 05:29] #892 closed

[2017-10-12 05:32] angelleye commented on #897
Verified the refund data did show up when I reloaded the page.

[2017-10-12 05:32] #897 closed

[2017-10-12 05:42] #899 closed

[2017-10-12 08:56] angelleye opened #900 "Express Checkout - AccessPress theme conflict..??"
* Adendorff Johan Birgit via Facebook Messenger
* https://wordpress.org/themes/accesspress-store/

This theme seems to have a problem with our EC button on the cart page.  When the EC button is displayed above the cart it functions correctly, but when the EC button is displayed below the cart it does not function.  It displays, but you can't click on it.

![image](https://user-images.githubusercon

[2017-10-12 08:58] angelleye commented on #900
@iMansoorAliKhan Can you please download the theme and test to see if you are able to reproduce this problem?

[2017-10-12 09:05] angelleye commented on #900
User points out that bottom button is missing the additional div when compared to top button.

**Top Button**

[code]

**Bottom Button**

[code]

Not sure if that has anything to do with this issue or not..??

[2017-10-12 09:09] kcppdevelopers commented on #900
@angelleye Can you please confirm they have Enable In-Context or not and which version they have used?

[2017-10-12 09:23] angelleye commented on #900
@kcppdevelopers They're using our 1.4.6.5 version, but I'm not sure about In-Context or the version of the theme.  I've asked and waiting for response.

[2017-10-13 05:03] angelleye commented on #767
Reopening this issue because the user says it's still happening on our latest version.  Need to look into this specifically and see what's going on.

[2017-10-13 05:32] angelleye opened #901 "Settings Logos"
In our Settings -> PayPal for Woo I want to add logos for each of the PayPal products instead of text headers.

[2017-10-13 05:34] angelleye commented on #901
I would also like to make each separate product a tile on the page, instead of stacked text.

[2017-10-13 11:05] angelleye opened #902 "Premium Extension - Split Credit Card"
* https://mail.google.com/mail/u/0/#inbox/15cfae29fc205705

Customer requesting the ability to allow users to enter multiple credit cards for payment during checkout.  For example, if the order is $100 and they want to put $60 on one card and $40 on another.

So this extension would allow you to enable the feature, and then the WC checkout page would include an option to split the payment on multi

[2017-10-13 11:08] angelleye commented on #902
We could even tie in the ability to include a PayPal account as one of the sources on a split payment.  This would involve the use of a billing agreement on file, so this could become available if there is a token already saved for the buyer or if they go through the process of setting up a billing agreement during checkout.

On our review page for EC we could have it adjusted to show that the Pay

[2017-10-13 12:57] angelleye opened #903 "Express Checkout - WP User Account Creation Adjustments..??"
* https://wordpress.org/support/topic/express-checkout-doesnt-create-wp-user-with-right-details/

[2017-10-13 18:23] iMansoorAliKhan commented on #900
@angelleye Here is what saw
http://prntscr.com/gx26v7
I done see any button like that may be language change make it different?

[2017-10-13 18:26] iMansoorAliKhan commented on #900
I I think I found the issue. Please take a look at the screenshot.
http://prntscr.com/gx28yl

[2017-10-13 18:28] iMansoorAliKhan commented on #900
![image](https://user-images.githubusercontent.com/11312949/31560550-30d665c2-b06e-11e7-90b6-7d0fd91de99d.png)

[2017-10-14 11:50] angelleye opened #904 "PayPal Insights Integration"
We talked about doing this as a stand-alone WP plugin, but PayPal has asked us to simply include it in this plugin for now.

[2017-10-15 23:34] angelleye opened #905 "Express Checkout - Browser console showing errors we need to resolve..??"
* https://mail.google.com/mail/u/0/#inbox/15eaf03f3b996629

[2017-10-15 23:37] angelleye opened #906 "Express Checkout - Adjustments to button display logic on cart page."
* https://mail.google.com/mail/u/0/#inbox/15eaf03f3b996629

[2017-10-15 23:38] angelleye commented on #906
We should review our display logic and potentially make some adjustments to give people more control over how this is displayed.  We have logic around what gateways are enabled as well as what setting is configured for Express Checkout on the WC checkout page.

[2017-10-15 23:44] angelleye commented on #906
Also we should consider the point they're making that when our EC button is all that shows up on the cart page you can't tell that you can also pay with a credit card.  They're wanting to force the WC checkout page so that people can tell, but it would be better to adjust our display shown in the screenshot so it's clear that people without PayPal can still pay.

[2017-10-16 03:50] angelleye commented on #904
@kcppdevelopers I'd like to add PayPal Insights as a new tab under Settings -> PayPal for WooCommerce -> General.  We can drop in the JS for the activate/modify button into this settings panel, and then we'll drop the regular JS for page content so that the PayPal banner displays based on the Insights configuration.

[2017-10-16 13:53] angelleye commented on #904
@kcppdevelopers I'm a little bit confused here.

In our settings panel I see a check box to enable Insights, but I don't see the actual Activate / Modify button showing up anywhere..??

Also, I'm not sure why we have to fill out a "Merchant's website URL" field..??  I don't remember seeing the need for that in the Insights docs, and even if we do need it, couldn't we just use the WP site URL?

[2017-10-16 15:29] angelleye opened #907 "Express Checkout - PayPal scripts getting called on every page..??"
* https://wordpress.org/support/topic/why-are-there-continuous-slow-paypal-calls-on-product-pages/

[2017-10-16 16:06] robwatson-intechra opened #908 "Discount results in "Approved: 10431-Item amount is invalid.""
I've got another issue with 15% off discounts causing differences in ITEMAMT expected, similar to issue #892. Except this time the error message is different. It's saying `Approved: 10431-Item amount is invalid.` and it doesn't appear to be a rounding issue.

Below is the info from the plugin log file, edited to protect the customer's privacy. If you need to log into our site, the credentials I se

[2017-10-16 20:22] angelleye commented on #904
@kcppdevelopers Here's a sample PayPal Insights (MUSE) plugin for Woo that PayPal put together:  https://github.com/trainerbill/woocommerce-paypal-marketing

I didn't see that sample until now.  We should review this together and probably do ours similar.  I'm still not sure what you did here because I don't see the Activate button.

[2017-10-17 02:52] angelleye commented on #904
@kcppdevelopers Their plugin example on GitHub uses the user's API credentials.  We basically need to replicate with their plugin is doing in ours.

I originally said to do this under the Settings -> PayPal for WooCommerce -> General tab.  Instead, we need to move this into the Express Checkout settings, because it really only applies to that gateway.

In his plugin you have to click the box to en

[2017-10-17 10:03] kcppdevelopers commented on #904
@angelleye I am done with PayPal Insights and push to dev branch for your review.

[2017-10-17 12:18] kcppdevelopers commented on #903
@angelleye We are using PayPal shipping details for customer, Can you please explain with more details what we have to do on this issue?

[2017-10-17 12:33] kcppdevelopers commented on #907
#905

[2017-10-17 13:57] angelleye commented on #904
@kcppdevelopers I forgot to add one more thing to this.  We need to include an admin notice for this update.

"PayPal Insights now available in Express Checkout!  Make sure to activate Insights for valuable analytics about your visitors and increased conversion rates on your site!"

The words "activate Insights" should be a link directly to the Insights section of the EC settings panel.

[2017-10-17 14:05] #905 closed

[2017-10-17 14:57] robwatson-intechra opened #909 "10747-The IP Address provided is invalid error."
According to https://www.paypal-knowledge.com/infocenter/index?page=content&id=FAQ1076&actp=RSS, anytime a customer's IP address comes through as an IPv6, PayPal will generate a 10747-The IP Address provided is invalid error. The PayFlow logs for the AngellEYE plugin are reporting this problem for a number of our customers. Even though it is apparently NOT keeping their transaction from completing

[2017-10-17 18:13] iMansoorAliKhan opened #910 "No item description on paypal screen"
http://prntscr.com/gyma8v

Dont know why I'm seeing this, It was working before but dont know why now its empty.
Is this option dependent on the Sending LineItem parameter in PAypal For WOO settings?

[2017-10-17 18:19] iMansoorAliKhan commented on #910
Also , its guest checkout and the email I used to signup at checkout was demo@gmail.com
But when returned from paypal it showed me this http://prntscr.com/gymb3d, ( my paypal sandbox email ) Why?
And this field ?? http://prntscr.com/gymbrp
And then this > http://prntscr.com/gymcnj
I have accepted it previously but now again before placing order its asking me to accept but I dont see any checkbox t

[2017-10-17 18:27] iMansoorAliKhan commented on #910
Also this is the same case even when I'm login too

[2017-10-18 04:29] angelleye commented on #904
@kcppdevelopers  I guess they have this integrated into their Express Checkout plugin:  https://github.com/trainerbill/woocommerce-gateway-paypal-express-checkout

That's where it was done with API credentials so that they don't have to login.  We should install their EC plugin and review the code to see about doing this here too please.

[2017-10-18 16:37] angelleye opened #911 "Express Checkout - Adjust cancel URL when paying from pending order."
* https://wordpress.org/support/topic/cancel-page-when-paying-for-pending-order/

[2017-10-18 20:51] iMansoorAliKhan opened #912 "Checkout page Styling issues with Payflow and Payments pro"
https://wordpress.org/support/topic/cc-form-layout/
I have tested this on my local with 3 theme
1- enfold
2- be theme
3- salient
All have same results. The year and expiry date are actually not showing correct
**Salient**
1- http://prntscr.com/gz42qq
2- http://prntscr.com/gz4301
**BeTheme**
1- http://prntscr.com/gz440k
2- http://prntscr.com/gz448e

[2017-10-20 18:05] angelleye commented on #904
New official name for this is "PayPal Marketing Solutions" instead of PayPal insights.  Also, the integration in their EC plugin has some Terms and Conditions we need to include in ours as well.

![image](https://user-images.githubusercontent.com/629241/31835477-4b1d7fb4-b597-11e7-94d1-c428d8b76143.png)

[2017-10-23 18:07] angelleye commented on #904
@kcppdevelopers I'm still not seeing API credentials included so that we don't have to sign in to activate insights..??

Did you install the EC plugin that they have and check it out?  They are adamant that it uses API credentials so you don't have to sign in, and that's what they're asking us for here.  When I run a test, though, it's still bringing up a login window..??

[2017-10-23 19:11] angelleye commented on #904
@kcppdevelopers It's also still making me type in my website address.  Can't we pass the {site_url} so that it gets pre-filled for us?

[2017-10-23 21:14] angelleye commented on #904
@kcppdevelopers I think maybe I haven't been clear on what we need to do here.  Let me try to explain again what's going on here.

Woo has their own PayPal Express plugin available in the WP directory:  https://wordpress.org/plugins/woocommerce-gateway-paypal-express-checkout/

One of the PayPal reps forked that repo to his own, and he built in the PayPal Insights functionality:  https://github.co

[2017-10-23 21:37] angelleye commented on #904
@kcppdevelopers I installed their forked copy of the plugin, and I see it's still asking me to login when I click to Activate / Manage Insights, so I've asked them for clarification on how that is supposed to be working.

We just need to go ahead and add this additional marketing stuff along with the terms and conditions you already added the same they've done.  Notice it adjusts when you click En

[2017-10-23 21:53] angelleye commented on #904
@kcppdevelopers Okay, so they actually have 2 separate GitHub repos, one is showing Insights built into the EC plugin, and the other is for a separate stand-alone plugin:

The video does show it skipping the login, but as you mentioned previously that could be because he's already signed in to the PayPal account.  We just need to take a closer look at the second example here to make sure we haven'

[2017-10-23 22:44] keeneyemedia opened #913 "Fatal error: Call to a member function get_id() with Express Checkout"
Hey Guys,

Trying to setup an express checkout integration. When being returned to the site, its taking me to my error page.

My logs are showing this error for every order thats not working (which is all of them right now):
PHP Fatal error: Call to a member function get_id() on boolean in /wp-content/plugins/paypal-for-woocommerce/angelleye-includes/express-checkout/class-wc-gateway-paypal-expres

[2017-10-23 23:39] angelleye commented on #904
@kcppdevelopers Okay, now I have verified with PayPal that the login is NOT going to be skipped.  So at this point we just need to add in the extra marketing verbiage / graphics like they have in theirs.

[2017-10-23 23:52] keeneyemedia commented on #913
Nevermind... this can be ignored for now. :)

[2017-10-23 23:52] #913 closed

[2017-10-24 04:51] angelleye commented on #904
@kcppdevelopers We also need to make sure we have a good admin notice that notifies the user about PayPal Marketing Solutions with a link to the settings so they can turn it on.

[2017-10-24 08:01] kcppdevelopers commented on #904
@angelleye I have added admin notice and extra marketing verbiage / graphics like they have in theirs.

[2017-10-24 08:33] kcppdevelopers commented on #912
@angelleye by default woo provide textbox for CC expired date, we have modified that functionality and provide select box. I think we need to add new option in gateway setting panel for used textbox or select box for CC expired date.

[2017-10-24 09:58] kcppdevelopers commented on #901
@angelleye I think we need to new tab for Premium Extensions / Support same like PayPal IPN for WooCoomerce.

[2017-10-24 21:07] angelleye commented on #904
Need to use "Marketing Solutions" in all places, not "Insights"

[2017-10-24 22:01] angelleye commented on #904
JS integration from start to finish with no API call.

want to remove as much friction as possible

paypal integrated signup

"we don't want them to ever see the activate button"

since we're using the API call we don't need to show "Activate" at all.  We're getting our CID with API call, so we can just display.

Double check API call to ensure we're enabling the options by default.  This way we d

[2017-10-25 00:16] angelleye commented on #904
I think we should also add some logic on our admin notice so that if this is already enabled then the notice doesn't show up.

[2017-10-25 03:55] angelleye commented on #904
We also need to consider clearing any locally stored cid value if the API credentials are cleared or changed.

For example, if you put in credentials for PayPal Account A, and then you enable Insights to generate a CID, but then you change the credentials to PayPal Account B, we need to be sure the CID is updated for this new account.

[2017-10-25 05:06] angelleye commented on #901
@kcppdevelopers Yes, I agree.  I think I have a separate issue for that, actually, but we can do that here.

We'll need to pull products using a specific tag the same way we do in the IPN plugin.  In this case the tag will be `paypal_woocommerce_premium_extension`

[2017-10-26 03:37] angelleye commented on #912
@kcppdevelopers Please remind me why we added our own..??  Is it because of our option to display numbers or names?  If so, then yeah, let's add the additional option like you said, but then we should hide the options for numbers vs. names unless you've chosen to display that way.

[2017-10-26 03:58] angelleye commented on #910
@iMansoorAliKhan Line items will only show up in that section of the PayPal screen if you do have "Send Line Items to PayPal" enabled.

[2017-10-26 04:04] angelleye commented on #909
@robwatson-intechra I'm sorry for the delay getting back to you.

The limitation here is in the PayPal DirectPayment API, so there's nothing we can do in our plugin to actually support IPv6 until they fix that on their side.

That said, we may be able to add some logic that looks at the value to ensure PayPal will accept it before sending the request.  However, you're saying that even though you g

[2017-10-26 04:08] angelleye commented on #908
@robwatson-intechra I'm sorry for the delay responding.

I've added this to our 1.4.6.6 milestone that we're working on now.  We'll look to make any necessary adjustments to avoid this issue you're running into.

[2017-10-26 05:32] iMansoorAliKhan commented on #910
So as per my understanding, the item details will only be showing on the paypal login / payment screen if that option is enabled, Right?

[2017-10-26 08:20] kcppdevelopers commented on #904
@angelleye for me PayPal insights API it's not working on sandbox mode, and my PayPal live account insights not supported. please send me document when you get from PayPal.

[2017-10-26 09:20] kcppdevelopers commented on #912
@angelleye

Yes, because of display selectbox for Expiration Date instead of single textbox

by default woo provide below UI

![default](https://user-images.githubusercontent.com/13145461/32044947-9fc3cf90-ba5c-11e7-9bc7-22f4b9a048dd.png)

our PayPal for Woo provide below UI

![our](https://user-images.githubusercontent.com/13145461/32044992-bf9c6886-ba5c-11e7-93e1-e1d786c6bce7.png)

[2017-10-26 20:31] angelleye opened #914 "Express Checkout - Still not working from a saved/pending invoice."
* https://mail.google.com/mail/u/0/#inbox/15f16f97962ce24e
* https://mail.google.com/mail/u/0/#inbox/15f25412de88b1a6 (invoice he sent me)

This user created an invoice and send me an email to pay the invoice.  I click pay which loads a screen like this:

![image](https://user-images.githubusercontent.com/629241/32075462-8560dfac-ba62-11e7-9756-bc7f7f6c1cff.png)

When we switch to PayPal Express t

[2017-10-26 21:01] robwatson-intechra commented on #909
Here is one log entry (obfuscated for privacy) among hundreds we have logged.

[code]

[2017-10-27 03:07] angelleye opened #915 "PayPal Pro CSS Adjustment Necessary..??"
* https://mail.google.com/mail/u/0/#inbox/15eaf03f3b996629

[2017-10-27 21:41] angelleye commented on #904
@kcppdevelopers We're going to leave the API call in place for now, but we do need to make another adjustment.

Instead of a check box to enable Insights, we need to create a button that looks just like the "Activate Insights" button that the JS code would load.  This would just be our button, though, that triggers our API call the same way we would do with the check box.  So we'd just click the A

[2017-10-29 13:08] iMansoorAliKhan opened #916 "Accept terms and Condition error on Order review page"
Hi,
I have received a ticket stating that they see error on order review page when they hit Place order button

They have this ON in their checkout settings, Al Though I was not able to reproduce this error on my test site.
Even switching to Storefront, and Basic theme didn't help either, so when I did some debugging,  following CSS was hiding that on the order review page, so Not sure why this wa

[2017-10-31 01:24] angelleye commented on #910
@iMansoorAliKhan Correct.

[2017-10-31 01:24] angelleye commented on #910
@iMansoorAliKhan If there's nothing else we need to review here please close the issue.  I'm not sure if that's all this was for or not..??

[2017-10-31 01:29] angelleye commented on #912
@kcppdevelopers Isn't there some way we could just add an option for people to apply their theme styles easily so it matches?  Or doesn't WooCommerce have a default style for drop downs we could set so it matches better?

[2017-10-31 01:34] angelleye commented on #909
Okay, thanks for the info.  We'll get this resolved in our next update.

@kcppdevelopers Looks like we can use [inet_pton](http://php.net/manual/en/function.inet-pton.php) to resolve this.

[2017-10-31 01:40] angelleye commented on #916
@kcppdevelopers If this can be fixed within a few minutes please take care of it on 1.4.6.6.  If not, please move it to 1.4.7.

[2017-10-31 01:56] angelleye commented on #901
@kcppdevelopers Something isn't right here.  The new premium extensions stuff is showing up where the payment gateways should be showing up, and the same image is being output for every product.

![image](https://user-images.githubusercontent.com/629241/32204013-d70fa73e-bdb4-11e7-9261-5646bc2004d7.png)

[2017-10-31 01:58] angelleye commented on #901
@kcppdevelopers Ah, nevermind, I guess this is just setup as tiles now, but you didn't use the separate logos..??

We should see a PayPal Express Checkout logo in that tile, and a PayPal PayFlow logo in that tile, etc.  We should be able to find good quality graphics for that using Google image searches.

[2017-10-31 01:58] angelleye commented on #901
The premium extensions tab isn't displaying any products.  I thought I had something setup with the tag we're using here, but I'll double check.

[2017-10-31 05:37] angelleye commented on #904
Need to consider a way to "clear client ID".  Right now once you've activated there isn't any simple way to clear out the CID if you need to so that you can get the Activate button back again.

[2017-11-02 04:40] angelleye opened #917 "Woo Subscriptions - Tokenized Payment dependency..??"
* https://wordpress.org/support/topic/woocommerce-subscription-with-paypal-for-woocommerce/

User says that renewal payments are not working, and are getting stuck as pending.  He noticed that "Tokenized Payments" are not enabled in his PayFlow settings.

I'm unsure if this matters..??  That option is intended to enable the ability for buyers to save their payment method with the site for faster c

[2017-11-02 04:45] angelleye opened #918 "Express Checkout - Variations / Attributes"
* https://wordpress.org/support/topic/variation-1-variation-2-missing-from-paypal-email

Product attributes are not getting included in our PayPal EC calls..??  We should check if EC provides the "option" parameters associated with line item details in the request.  If not, we need to try and get these attributes included in the Item Name line somehow (which I thought we had already done previousl

[2017-11-02 06:48] kcppdevelopers commented on #916
@iMansoorAliKhan Can you please provide support ticket details?

[2017-11-02 18:38] angelleye opened #919 "WC 3.2.2 Compatibility"
Need to make sure nothing changed in 3.2.2 that will break our stuff, and also get our "tested up to" version updated in the plugin code comments.

[2017-11-04 06:21] iMansoorAliKhan commented on #910
Yeah, I was actually confused as previously it was working differently, or maybe I notice that now.
Anyways. Please consider this sorted.
Thanks!

[2017-11-04 06:21] #910 closed

[2017-11-04 06:30] iMansoorAliKhan commented on #916
@kcppdevelopers , sure, Please see this one. https://www.angelleye.com/support/scp/tickets.php?id=1549
I have assigned this to you for review.

[2017-11-06 17:18] iMansoorAliKhan opened #920 "Mini Cart On/Off , Credit card expiry in Payflow"
https://wordpress.org/support/topic/2-feature-request/#post-9656158

1) The first feature request is to add another option on/off to display PayPal Express button on the Mini-Cart, Basically separate the Display PayPal Express button on Cart and the mini-cart

I did it by commenting out the “public function mini_cart_button()” on this file class-wc-gateway-paypal-express-helper-angelleye.php

2) I

[2017-11-07 07:10] kcppdevelopers commented on #903
@angelleye Woo EC plugin by default create the user and order,  before the customer is leaving the website and then it updates the order with the PayPal transaction status. our plugin by default not saving order and user related data but we already provided an option name like 'Save Abandoned Checkouts' if enable 'Save Abandoned Checkouts' it will create order and save user data.

[2017-11-07 13:46] kcppdevelopers commented on #915
@angelleye I have checked and found that above CSS is not from our plugin.

[2017-11-07 21:50] angelleye commented on #903
@kcppdevelopers It seems logical that it should create the order before leaving for PayPal and then update that order upon return.  Is there any specific reason we didn't set ours like that to begin with?  Then we wouldn't even need that option about saving abandoned checkouts because it would just happen by default wouldn't it?

[2017-11-07 21:53] #915 closed

[2017-11-08 05:32] iMansoorAliKhan commented on #912
I had sent this to the client , they reported that it worked well on desktop/ tablet/.
but on mobile it shows something like this http://www.reedededge.com/Screenshot_20171107-101828.png.
Can we make it look more good and the fields takes full place like adding bootstrape col-xs-6 or something like that?

[2017-11-08 05:34] angelleye opened #921 "PayFlow Subscriptions"
* https://wordpress.org/support/topic/woocommerce-subscription-with-paypal-for-woocommerce

Need to document that within PayPal Manager there is a check box to "Allow Reference Transactions" which needs to be enabled for Woo Subscriptions to work properly.

[2017-11-08 05:37] angelleye commented on #912
@kcppdevelopers Please see above screenshot.  Definitely need to figure out how to make this look better.

[2017-11-08 09:06] #907 closed

[2017-11-08 13:17] kcppdevelopers commented on #918
@angelleye I have checked and found that we already passed product details.

![issue-918](https://user-images.githubusercontent.com/13145461/32551063-471ea316-c4b5-11e7-9e8a-4d23e80e2434.png)

[2017-11-08 13:44] kcppdevelopers commented on #911
@angelleye

above is by default woo functionality, Cart is empty because order created from admin panel.

[2017-11-08 21:17] angelleye commented on #918
Okay, I see we're passing some extra info in the DESC field, but did you check the PayPal transaction details page to make sure that's actually showing up there somewhere?  Can you provide a screenshot of this transaction in your PayPal sandbox account you ran the test with?

[2017-11-08 21:20] #911 closed

[2017-11-08 21:26] angelleye opened #922 "Express Checkout - Negative shipping amount because of our custom calcs still happening..??"
* https://wordpress.org/support/topic/transactions-hold-in-processing-status

[2017-11-08 21:58] angelleye commented on #922
He's not able to provide much detail about his setup, unfortunately, but he says when he switched to the other Express plugin the problem went away.  We have got to figure out why we keep running into this.

[2017-11-08 23:23] angelleye opened #923 "WordPress 4.9 Compatibility"
* https://make.wordpress.org/core/2017/11/07/wordpress-4-9-field-guide/

[2017-11-09 05:25] angelleye commented on #922
One of the users in the thread mentions that it works fine with PayFlow but not Express.  This is confusing to me because I thought we had the same calculation class being used everywhere..??

[2017-11-09 07:33] kcppdevelopers commented on #918
![transaction](https://user-images.githubusercontent.com/13145461/32593522-44a1aec8-c54e-11e7-9c82-8beb6acbc25a.png)

[2017-11-09 17:48] #918 closed

[2017-11-10 09:17] angelleye commented on #901
@kcppdevelopers Please use the attached logos for the gateway tab.
[paypal-for-woo-gateway-logos.zip](https://github.com/angelleye/paypal-woocommerce/files/1460769/paypal-for-woo-gateway-logos.zip)

[2017-11-10 09:19] angelleye commented on #901
@kcppdevelopers We need to add a little bit of spacing here:

![image](https://user-images.githubusercontent.com/629241/32651183-f7225dfa-c5c5-11e7-9d34-bbb7019ba50c.png)

The line about "Premium extension available at www.angelleye.com" needs to be spaced a little better so it's not smashed up against the tabs.

[2017-11-10 09:23] angelleye commented on #903
@kcppdevelopers I see you did make a commit after I asked about your opinion on what the user is reporting, but then you responded as if you didn't do anything..??  What did you do in that commit?  Also, please see my last comment.

[2017-11-10 09:25] #912 closed

[2017-11-10 09:28] angelleye commented on #908
@robwatson-intechra We've made some adjustments here to resolve this, and we'll be releasing the 1.4.6.6 update soon.

[2017-11-10 09:28] #908 closed

[2017-11-10 09:29] #914 closed

[2017-11-10 09:32] #909 closed

[2017-11-10 09:32] angelleye commented on #909
@robwatson-intechra This fix will be included in the 1.4.6.6 update coming soon!

[2017-11-10 09:33] #919 closed

[2017-11-10 09:34] kcppdevelopers commented on #903
@angelleye before we have used shipping details return from PayPal and Now I have add condition if checkout page used and user has already enter details than used that details.

[2017-11-10 09:39] angelleye commented on #903
@kcppdevelopers so in that case are you including SHIPPINGOVERRIDE so that they can't change it during PayPal checkout pages?  Or if they do change it during PayPal's checkout pages are you making sure to use that address for shipping, but leaving what they enter on the WC checkout page for billing?

[2017-11-10 09:43] #920 closed

[2017-11-10 09:47] #903 closed

[2017-11-10 10:09] angelleye commented on #904
@kcppdevelopers When I click the link in our admin notice it's no longer sending me directly to the Insights section of the EC settings the way it used to..??

[2017-11-10 10:10] angelleye commented on #904
@kcppdevelopers The More Info button is opening up this:

![image](https://user-images.githubusercontent.com/629241/32653294-007974b8-c5cd-11e7-94aa-8aa3b9f7b3c3.png)

That window needs to be more of a "widescreen" instead of a square, more like what I provided in our wireframe/demo.

[2017-11-10 10:13] angelleye commented on #904
@kcppdevelopers We also still need to consider how this is going to work smoothly with the regular settings in EC.

For example, if I'm a brand new user setting things up in EC and I get all the way to bottom...then I click Activate without ever Saving the settings I've already configured, would I end up losing those settings I've adjusted?  If so, we need to either change it back to a check box s

[2017-11-10 10:20] angelleye commented on #904
@kcppdevelopers Here is the link that should go with our "View Insights" button after the user activates it.

https://www.paypal.com/us/webapps/mpp/paypal-marketing-solutions

[2017-11-10 11:10] kcppdevelopers commented on #904
@angelleye When user click on Activate, we are not refreshing full page, you end up not losing those settings I've adjusted. we have also used ajax to save marketing value to database.

[2017-11-10 11:28] angelleye commented on #904
There are some updates to the API we need to make.  To avoid duplicate setups of the same site with different CID values, they have added a check for this and will now return error info if it detects a duplicate it already exists.  It should return the same CID that was originally setup in this case.

Attached are samples of request/response with this functionality included.
[marketing-solutions-s

[2017-11-10 11:30] angelleye commented on #904
Also, I think we're still missing something with the activation.  I still had to login and agree to activate it.  This should be skipped since we're using the API call.  Clicking the button should be able to simply activate everything behind the scenes via the API call so it simply activates for us without logging in and messing with toggles or anything.

[2017-11-10 11:33] kcppdevelopers commented on #904
@angelleye  Please Note: we have used JS version for PayPal Marketing Solutions.

[2017-11-10 11:36] angelleye commented on #904
@kcppdevelopers You were supposed to prepare it both ways..??  Remember I asked you to get the API version ready in a separate branch from JS version so we could launch either way..??

[2017-11-10 11:37] angelleye commented on #904
@kcppdevelopers Maybe I need to switch to API version branch..??

[2017-11-10 11:51] #901 closed

[2017-11-10 11:59] angelleye opened #924 "Express Checkout - Free Order Coupon Bug..??"
* https://wordpress.org/support/topic/apply-coupon-is-not-working-in-express-checkout

User explains the following scenario:

* Express Checkout is the only gateway enabled.
* When a 100% discount coupon is entered on the cart page, the PayPal Checkout button (which is replacing the WC proceed to checkout button) simply disappears, and there is no way to continue.
* If you refresh the page at this

[2017-11-10 12:25] angelleye commented on #904
@kcppdevelopers We can use this graphic as the popup for the More Info button.

![paypal-for-woocommerce-marketing-solutions-more-info](https://user-images.githubusercontent.com/629241/32658530-fc9ba3b2-c5df-11e7-93b7-82574ac76062.jpg)

[2017-11-10 13:45] angelleye commented on #904
The "partner_name" value included in the request is what gets displayed on the "Return to..." button:

![image](https://user-images.githubusercontent.com/629241/32661067-053a9b12-c5eb-11e7-83a2-190e09a48ec5.png)

So in this case we should use the site name pulled from WP settings.

[2017-11-10 14:16] robwatson-intechra commented on #909
Great! Thanks.

[2017-11-12 00:23] angelleye commented on #904
@kcppdevelopers Still some things we need to fix here:

* The BN code used is incorrect.  BN code is supposed to be `AngellEYE_SP_WooCommerce_MS`
* Partner Name should be the WP site name.

[2017-11-12 06:29] angelleye commented on #904
@kcppdevelopers I pulled the dev branch, which only had a change in the main plugin file.  I uploaded that and ran another activation of Marketing Solutions, but I don't see any log file.  I also don't see any commit that includes logging..??

[2017-11-13 08:39] angelleye commented on #904
@kcppdevelopers When I click the button to clear the Marketing Solution data (CID) it's actually wiping out the live API credentials, too.

[2017-11-13 08:40] angelleye commented on #904
@kcppdevelopers For some reason now I am not getting the banners to show up at all, even when I clear site data via Chrome Console -> Application -> Storage -> Clear Site Data.  Not sure if this has something to do with the new params that were added in 580c225..??

[2017-11-14 00:59] VacBargain opened #925 "Shipping First First name is required field"

[2017-11-14 02:41] njbarrett opened #926 "Paypal express checkout - Call to undefined method WC_Checkout::is_registration_required()"
Call to undefined method WC_Checkout::is_registration_required()' in /wp-content/plugins/paypal-for-woocommerce/classes/wc-gateway-paypal-express-angelleye.php:936

We're using Woocommerce 2.6.13 which appears to be a supported version of the plugin.

It seems it is trying to access a function that isn't available in this version of Woocommerce.

I think this code needs a compatibility check for <

[2017-11-14 03:43] angelleye commented on #925
@VacBargain I'm not sure what exactly you are reporting here..??

[2017-11-14 04:11] angelleye commented on #926
Thanks for the feedback.  Actually, we have listed 3.0 as the minimum required WC version at this point, and we added that to the plugin comments per the WooCommerce version tracking functionality they recently added.

[code]

I guess if you're still running an old version that really isn't doing anything for you.  Where did you see we have it listed for 2.6 support?  I need to get that adjusted.

[2017-11-14 04:15] njbarrett commented on #926
@angelleye Thanks for the prompt response.

The readme.txt lists the requirements as:

**Requirements**
PHP version 5.3+.
WordPress 3.8+
WooCommerce 2.3+

Do you happen to know the last version to support WC 2.6 ?

[2017-11-14 04:18] angelleye opened #927 "Payments Pro PayFlow - Bad Gateway..??"
* https://wordpress.org/support/topic/gateway-error-3

[2017-11-14 04:23] angelleye commented on #926
I would try our version 1.3.3 and see if that works better for you.  You can download previous versions here:  https://wordpress.org/plugins/paypal-for-woocommerce/advanced/

[2017-11-14 04:27] angelleye opened #928 "Express Checkout - No Shipping Required Adjustment Necessary"
* https://wordpress.org/support/topic/paypal-express-not-sending-addresses

Orders with multiple items where some items have "no shipping required" enabled but others do not are treating the entire order as no shipping required.

If any item exists on the order that requires shipping then we need to make sure we do NOT set no shipping required in the PayPal request.

[2017-11-14 04:30] njbarrett commented on #926
@angelleye Thanks for that.
Just noticed another location which needs the minimum requirements updated:
https://www.angelleye.com/paypal-woocommerce-installation-guide/ Under minimum requirements.

[2017-11-14 04:36] angelleye commented on #926
Thanks, I got that updated.

[2017-11-14 04:36] #926 closed

[2017-11-14 04:44] angelleye commented on #904
If we go back to JS integration we need to add the following:

![image](https://user-images.githubusercontent.com/629241/32763264-409bcfd8-c8c4-11e7-9dab-7e44d8e9faa6.png)

[2017-11-14 04:48] angelleye commented on #904
The "analytics-id" that we're passing right now is a bogus/sample value.  We need to change this to use the PayPal Merchant Account ID, and then also add "-1" to the end of it.

We can use [GetPalDetails](https://developer.paypal.com/docs/classic/api/merchant/GetPalDetails_API_Operation_NVP/) to obtain the users Merchant Account ID.  That call is built into our library so it be a very simple call

[2017-11-14 10:05] angelleye opened #929 "Express Checkout - Google Analytics / Facebook Pixel Tracking Bug..??"
* https://www.angelleye.com/support/scp/tickets.php?id=1570

It seems that our Express Checkout integration is interfering with Google Analytics / Facebook Pixel order tracking systems.

[2017-11-14 10:11] angelleye opened #930 "Payments Pro - Admin notice about Force Secure Checkout needs fixed."
We have an admin notice about Force Secure Checkout...

![image](https://user-images.githubusercontent.com/629241/32774402-c7bb5dbc-c8f1-11e7-9f46-e2e7a8b377f6.png)

When I click that link it's sending me to a failed page...

![image](https://user-images.githubusercontent.com/629241/32774413-d539f08e-c8f1-11e7-937b-bcf318d11a85.png)

[2017-11-14 13:22] angelleye commented on #904
* Fix API credentials from getting wiped out (remove API call from Enable check box, and instead make the API call when the Save button is pushed).
* Resize pop-up window to the same size as the More Info graphic (1327x833)
* Adjust log file so that the JSON request is formatted in a friendly / readable way.

[2017-11-14 14:13] kcppdevelopers commented on #927
@angelleye I have double check above error is not from our plugin, it from IDT_Woo_Sendy_Subscription_Integration->add_to_sendy_mailer function.

[2017-11-14 15:09] #904 closed

[2017-11-14 15:45] kcppdevelopers commented on #923
@angelleye I have checked and it seem our plugin is compatible with WordPress 4.9

[2017-11-15 05:30] angelleye opened #931 "Marketing Solutions - PayPal rep feedback"
* https://mail.google.com/mail/u/0/#inbox/15fa370ae56436fc

Thanks for sending. Looking good. My feedback.

[2017-11-15 08:10] #928 closed

[2017-11-15 08:12] #930 closed

[2017-11-15 08:12] #923 closed

[2017-11-15 08:13] angelleye commented on #927
I have responded to the WP ticket to inform the user of this info, and I'm closing this issue.

[2017-11-15 08:13] #927 closed

[2017-11-15 12:50] tejasm-itpath commented on #929
@angelleye
As per this link http://blog.analytics-toolkit.com/2015/payment-gateway-referrer-exclusions-google-analytics/

[2017-11-15 13:37] angelleye opened #932 "Premium Extensions Tab Adjustment"
CSS / Div layout isn't good for the premium extensions tab.  It's showing up like this:

![image](https://user-images.githubusercontent.com/629241/32838807-cf07ffda-c9d7-11e7-9094-e9c13bf750a6.png)

Need to adjust the CSS for this tab so it correctly displays the product images.

[2017-11-15 18:18] kcppdevelopers commented on #932
![932](https://user-images.githubusercontent.com/13145461/32852904-7c7f3250-ca5f-11e7-804d-dea3119e7522.png)

[2017-11-15 18:22] #931 closed

[2017-11-15 18:23] #932 closed

[2017-11-16 08:00] angelleye opened #933 "Update Error..??"
* https://mail.google.com/mail/u/0/#inbox/15fc3d4d6680931b

[2017-11-16 08:09] angelleye commented on #933
We should clean these up anywhere else they're being used, too, but we need to make sure we're checking that the PHP var being used is indeed available by  using empty() or something similar where necessary.

[2017-11-16 08:40] iMansoorAliKhan opened #934 "Transaction Rejected error"
https://www.angelleye.com/support/scp/tickets.php?id=1597
One of client receievd this error

[code]
Although, in logs the 10606 means buyer can not pay , if so then why the error is reporting for stock ?

[2017-11-16 08:41] #933 closed

[2017-11-16 08:43] angelleye commented on #934
@iMansoorAliKhan, where exactly did that message show up for them?  Was that part of the PayPal error from their API, or is that something that came from WooCommerce?

[2017-11-16 08:44] iMansoorAliKhan commented on #934
![failed_order 1](https://user-images.githubusercontent.com/11312949/32881836-496d9f08-cad4-11e7-9aa1-e40c74de1f04.png)

This is what they have shared.

[2017-11-16 10:26] RSAAUTHENTICATIONPANKAJ commented on #696
Can you please review these screenshots, I have enabled and configured almost all payment gateways Paypal , Alpha Bank but only Direct payment and paypal shown in checkout page but not Alpha Bank. i am unable to pay with bank so,
can you tell what could be the possible issue?

![git2](https://user-images.githubusercontent.com/25637572/32886228-22f780c8-cae8-11e7-9a7b-a4b0a4b93b3b.png)

![git](http

[2017-11-16 10:59] angelleye commented on #696
From the look of this screenshot you don't have our plugin installed/active.  We can't support issues you're having with other gateways.

[2017-11-16 11:05] RSAAUTHENTICATIONPANKAJ commented on #696
how to fixed it ,if possible please recommenced me any bank gateway system in git hub

[2017-11-16 11:19] angelleye opened #935 "Marketing Solutions - Layout Conflict"
Marketing Solutions settings are getting mixed up with Woo Pay for Payment settings:

![image](https://user-images.githubusercontent.com/629241/32888691-ba3c40c8-ca8d-11e7-8683-35e9e73c5725.png)

![image](https://user-images.githubusercontent.com/629241/32888701-c96a8758-ca8d-11e7-9f77-c395ae575e43.png)

[2017-11-16 12:11] angelleye opened #936 "Updating Translation Files..??"
When I update other plugins with translations, they typically automate the process of updating the translation files and I see notices about it:

![image](https://user-images.githubusercontent.com/629241/32890555-dfd732dc-ca94-11e7-9b1c-7e8265ffa9ed.png)

Our plugin isn't doing this.  We need to look into how to make sure our translations are always up-to-date and updated along with our plugin upd

[2017-11-16 15:08] angelleye opened #937 "Copy Yoast"
I'd like to Copy what Yoast SEO plugin has done with all of their support, marketing, notifications, etc. built into their plugin.

[2017-11-18 08:16] iMansoorAliKhan opened #938 "In-context not working"
![image](https://user-images.githubusercontent.com/11312949/32978365-b6c2ad16-cc62-11e7-8dca-a86f698e99da.png)

[2017-11-18 08:20] iMansoorAliKhan commented on #938
This is happening on when these settings in EC settings
http://prntscr.com/hbzzyb

[2017-11-18 18:01] iMansoorAliKhan opened #939 "More Issues using Incontext option"
Order for shirt created from cart page.
Options:

- **Gateway : EC**
- **Guest checkout enabled**
- **Billing Agreement disabled on all products**
- **Click on EC button : Popup opens : shows me following page [http://prntscr.com/hc5flx]**
-** If I click on Create A paypal Account ( although I have set landing page to billing page in EC settings ) http://prntscr.com/hc5g8z ( Agree and Create accou

[2017-11-18 18:17] iMansoorAliKhan commented on #939
**Update:** was missing Paypal Optional in settings : I have enabled now its showing the default credit card payment options. Still the other things behave odd, still processing order on popup , if you click cancel it takes u bakc original site then keep loading for a sec the on that same windows redirect you back to the paypal screen to pay again.

NOt sure if that is the expected behavior.

[2017-11-21 14:28] engrmostafijur commented on #696
GoEmerchant  is not showing in my checkout page .. Pleas help me !!!!!!!!!!!!!

https://www.vocalboothtogo.com/checkout/  I cann't find good solution help me !!!!!!!!!!

[2017-11-21 17:42] engrmostafijur commented on #696
![image](https://user-images.githubusercontent.com/7710230/33087720-971a5d78-cf15-11e7-9101-bbc6f68b3b88.png)

[2017-11-21 17:43] engrmostafijur commented on #696
Please help me !!!!!!!!!!!

[2017-11-21 18:49] angelleye opened #940 "PayFlow - Rearrange credential fields in settings."
* https://mail.google.com/mail/u/0/#inbox/15fdfe2123953944

[2017-11-22 04:45] kcppdevelopers commented on #940
@angelleye

Should we used same arrange as PayPal or as per your suggestion like (Vendor > User > Partner > Password) ?

![default_format](https://user-images.githubusercontent.com/13145461/33110409-b0edf626-cf6d-11e7-8007-177d4bf22d7e.png)

[2017-11-22 06:41] kcppdevelopers commented on #922
@angelleye  yes, we have the same calculation class being used everywhere. it would be great to have log file to more troubleshoot.

[2017-11-22 07:23] kcppdevelopers commented on #900
@angelleye @iMansoorAliKhan  I have checked with AccessPress theme and it seem it working fine for me.

[2017-11-22 07:39] kcppdevelopers commented on #934
@angelleye @iMansoorAliKhan it seem there is two error are mix-up. 1) first error from PayPal 2) It's from woo, user has Enable stock management at product level.

So it's not our plugin issue..

[2017-11-22 08:57] kcppdevelopers commented on #826
@angelleye we are already added PayPal Credit icon when it enable.

![826](https://user-images.githubusercontent.com/13145461/33118210-2b33b3c6-cf91-11e7-99a3-72d3cc1349cb.png)

[2017-11-22 09:04] kcppdevelopers commented on #842
@angelleye it seem support ticket URL is not related to Flatsome theme conflict. may be I missing something.

[2017-11-22 10:23] angelleye commented on #338
It seems we've eliminated this review page, so all of these hooks are no obsolete and no longer need documentation.

[2017-11-22 19:50] iMansoorAliKhan opened #941 "EC tools page adjustment."
http://prntscr.com/hdxj9j

After success message the form is not loaded, which is not a good UX

[2017-11-23 08:51] angelleye commented on #940
@kcppdevelopers Sure, let's do that.

[2017-11-23 11:24] kcppdevelopers commented on #936
@angelleye I have checked found that

It will only automatic update translation file if translation file 100% translated.

[2017-11-23 14:11] frecklesKarin commented on #199
@angelleye Is it supposed to be changed in the future? There is no option to enable the in-context feature in the checkout page?
In my browser dev tools, I can see checkout.js is used, but in-context is not working, and there's no error.

[2017-11-24 04:59] kcppdevelopers commented on #922
@angelleye  I have checked all the cases and it seems working fine for me.

[2017-11-24 05:27] kcppdevelopers commented on #916
@iMansoorAliKhan Admin login details not working, Can you please ask it again?

[2017-11-24 05:40] kcppdevelopers commented on #895
@angelleye yes, when Express checkout used from checkout page gateway list and user has fill up address on that condition we are passing $SECFields['addroverride'] = 1

[2017-11-24 05:55] kcppdevelopers commented on #424
#908

[2017-11-24 05:55] #424 closed

[2017-11-24 06:43] kcppdevelopers commented on #817
@angelleye we have already code adjustment here  [link](https://github.com/angelleye/paypal-woocommerce/blob/release/angelleye-includes/express-checkout/class-wc-gateway-paypal-express-helper-angelleye.php#L800)

[2017-11-24 07:00] kcppdevelopers commented on #829
@angelleye We have already resolved this issue before.

[2017-11-24 07:01] kcppdevelopers commented on #829
#735

[2017-11-24 07:01] #829 closed

[2017-11-24 07:02] kcppdevelopers commented on #773
@angelleye yes we have already done.

[2017-11-24 07:02] #773 closed

[2017-11-24 08:33] kcppdevelopers commented on #766
![766](https://user-images.githubusercontent.com/13145461/33201847-37d8af10-d120-11e7-8c91-91f8af7b97ad.png)

[2017-11-24 08:38] kcppdevelopers commented on #651
@angelleye  I have checked https://www.paypal.com/us/cgi-bin/webscr?cmd=_login-api-run URL it's working for US and Indian PayPal Account.

[2017-11-24 10:41] kcppdevelopers commented on #854
@angelleye @iMansoorAliKhan

https://wordpress.org/support/topic/woo-subscriptions-not-renewing/#post-9459682
https://wordpress.org/support/topic/woocommerce-subscription-with-paypal-for-woocommerce/

I have checked above both support ticket and found that user said:

[2017-11-24 10:45] kcppdevelopers commented on #675
@angelleye I have double checked and found that it's working fine for me.

[2017-11-24 10:58] kcppdevelopers commented on #791
@angelleye We have already applied few changes on checkout page, I have checked with WooCommerce Checkout Field Editor (Manager) Pro plugin it's working fine for me.

[2017-11-24 11:01] kcppdevelopers commented on #917
@angelleye I have double check our logic and it's working..

User said on above support ticket:

[2017-11-26 02:51] angelleye opened #942 "PHP 7.2 Compatibility"
* https://wordpress.org/support/topic/does-not-support-php-7-2/

[2017-11-26 16:07] iMansoorAliKhan opened #943 "Random error from Rest API call"
https://wordpress.org/support/topic/php-fatal-error-call-to-a-member-function-get_option-on-nul/
Please take a look and see if we are able to reproduce this.

[2017-11-26 20:58] iMansoorAliKhan opened #944 "MultiCurrency Suit Plugin compatibility check"
https://www.angelleye.com/support/scp/tickets.php?id=1622
I got this ticket for the plugins and their deveoper said something like this

"I am really sorry to say this, but PayPal Express is not possible to be integrated with my multi currency plugin :-( It works completely differently than any other gateway. PayPal Express does not allow WooCommerce to save the order. If you use PayPal Standard,

[2017-11-27 09:28] kcppdevelopers commented on #944
@iMansoorAliKhan Can you please provide 'WooCommerce Ultimate Multi Currency Suite' plugin for more troubleshoot?

[2017-11-27 14:57] mechanicalgux opened #945 "Fatal error while placing order"
https://github.com/angelleye/paypal-woocommerce/blob/9d01903d527faa4b3a8534aac3f6d99150081da5/classes/wc-gateway-calculations-angelleye.php#L195

If `$order->get_product_from_item($values);` returns false, "Place order" will fail with an error 500.
The check is done above `if (is_object($product))` but not at line 195.

The produced error is: `Fatal error:  Uncaught Error: Call to a member functio

[2017-11-27 18:39] iMansoorAliKhan commented on #945
@mechanicalgux Are you using the latest version of Our plugin? Can you confirm WC version, WP version and Payment gateway you are using?

[2017-11-27 21:26] angelleye opened #946 "Marketing Solutions - Error / Blank Response Handling"
* https://mail.google.com/mail/u/0/#inbox/15fff2614da38f4f

They are setting up the plugin and Marketing Solutions on a local test server.  It seems they are getting an empty response back from the API call based on the log which contains a "null" response:

11-27-2017 @ 20:43:47 - PayPal Marketing Solution response: null

The problem is they got the message that activation was successful, but the

[2017-11-28 02:57] mechanicalgux commented on #945
Yes latest version 1.4.6.7, WC 3.2.5, WP 4.9 with Paypal Checkout gateway.
Bug introduced with this commit: https://github.com/angelleye/paypal-woocommerce/commit/2a207b5d6c625c9d6793b61e1d7f77888c2dbbea#diff-b529e81a0f84e28b21a8433d59d9638b

Sometimes the order doesn't contain an actual WC product (custom datastore), therefore $product is "false". Just make a check is_object($product) above and i

[2017-11-28 03:48] angelleye commented on #945
@mechanicalgux Thanks for the info!  We'll make necessary adjustments on the 1.4.7 update we're working on now.

[2017-11-28 05:12] angelleye opened #947 "Express Checkout - Multi-Currency Suite Compatibility..??"
* https://wordpress.org/support/topic/paypal-express-checkout-currency-not-converted-correctly/

[2017-11-28 05:17] iMansoorAliKhan commented on #947
he is already in ticket system and created a issue here too.
ref #944

[2017-11-28 05:22] angelleye commented on #944
I've moved this to the 1.5.0 milestone, but yes, we will need a copy of that plugin to troubleshoot this further.

[2017-11-28 09:12] kcppdevelopers commented on #769
@angelleye Braintree payment method already compatible with WooCommerce Subscriptions.

[2017-11-28 17:57] angelleye commented on #939
Moving this to 1.5.0

[2017-11-28 17:59] angelleye commented on #696
@engrmostafijur I'm sorry for the delay responding.  This issue was closed, so it wasn't popping up on my priority list.  Are you still having problems at this point?  If so I need you to clarify exactly what issue you are having please.  You mentioned GoEmerchant, but that would have nothing to do with us, so I'm a little confused.

[2017-11-28 18:00] angelleye commented on #900
@iMansoorAliKhan Did you circle back with the customer on this after we were unable to reproduce?

[2017-11-28 18:29] iMansoorAliKhan commented on #900
@angelleye , this client was from **Adendorff Johan Birgit via Facebook Messenger**, So I dont know where to reply back, You asked me to test and I was able to reproduce that same issue on my demo site.

[2017-11-28 18:33] angelleye commented on #842
@kcppdevelopers Looks like I must have pasted in the wrong ticket URL.  Are we able to get an updated copy of Flatsome we can test it in general?

[2017-11-28 18:36] iMansoorAliKhan commented on #842
I have the most recent copy of flatsome, I think, If you need let me know I can provide.

[2017-11-28 18:40] angelleye commented on #199
@frecklesKarin I'm sorry for the delay responding.  We do have plans to get In Context working from the WC checkout page, but it was being a little tricky with the way WC order management works, so we curbed it for the last release.  We're going to try to get this done i our 1.5.0 update.

[2017-11-28 18:44] #895 closed

[2017-11-28 20:31] #815 closed

[2017-11-28 20:33] #817 closed

[2017-11-28 20:35] #854 closed

[2017-11-28 20:37] #791 closed

[2017-11-28 20:38] #917 closed

[2017-11-28 20:40] #769 closed

[2017-11-28 20:43] angelleye commented on #900
@kcppdevelopers So now we have an end user saying this problem happens to them, and @iMansoorAliKhan is able to reproduce, but you say everything is fine for you..??

Seems we need to dig a little deeper here.  @iMansoorAliKhan were you running latest versions of everything?  Need to figure out what's different between your test and @kcppdevelopers' test

[2017-11-28 20:44] angelleye commented on #842
@iMansoorAliKhan Yes, if you can try to reproduce the problem the user is reporting that would be great.

[2017-11-28 20:54] iMansoorAliKhan commented on #842
Sure, I will update my findings here.

[2017-11-28 23:24] angelleye opened #948 "Express Checkout - Marketing Solutions Update"
Looks like we're missing some parameters from our request that we need to add.  Highlighted in green below:

![image](https://user-images.githubusercontent.com/629241/33349736-055a47f8-d461-11e7-839d-a08f918776c4.png)

[2017-11-29 04:41] angelleye commented on #948
Also, Marketing Solutions is only available for users in the US.

Need to add error handling for this so it works when they get that particular error added.

[2017-11-29 04:56] iMansoorAliKhan commented on #900
I had tested it with the most recent version of Plugin ( that time ) and theme too.

[2017-11-29 05:10] iMansoorAliKhan commented on #842
I have just tested this with latest flatsome and our plugin , this seems to be working for me. Tested Both login and without login > http://demo.mansooralikhan.com/shop/
I'm gonna attach theme here too

[2017-11-29 05:15] iMansoorAliKhan commented on #842
[flatsome.zip](https://github.com/angelleye/paypal-woocommerce/files/1512598/flatsome.zip)

[2017-11-29 05:43] #842 closed

[2017-11-29 07:19] #948 closed

[2017-11-29 18:42] angelleye opened #949 "YITH Gift Cards Compatibility"
* https://mail.google.com/mail/u/0/#inbox/16008e87d1ab851f

When applying a gift card on an order with this YITH Gift Cards plugin we end up with a 10427 error from PayPal about order totals not adding up.

User will be providing a copy of the plugin for us to work with.  Waiting on that...

[2017-11-29 19:22] angelleye commented on #949
[yith-woocommerce-gift-cards-premium (1).zip](https://github.com/angelleye/paypal-woocommerce/files/1515197/yith-woocommerce-gift-cards-premium.1.zip)

[2017-11-30 22:38] angelleye commented on #949
@kcppdevelopers I gave this copy of our dev branch but he says it's not fixing his problem..??

[2017-12-01 01:07] angelleye opened #950 "PayFlow - Token Payment / Reference Transaction Notice"
PayFlow has a setting you have to enable in the PayPal Manager account to enable reference transactions:

![image](https://user-images.githubusercontent.com/629241/33463174-93e06c22-d601-11e7-98cc-b98091938395.png)

We need to add a notice that shows up if somebody enables Token payments in PayFlow, or if they're using PayFlow with Woo Subscriptions that informs the user that they need to enable r

[2017-12-01 01:46] angelleye commented on #498
Hook names are `ae_pppf_comment1_parameter` and `ae_pppf_comment2_parameter`

[2017-12-01 05:23] kcppdevelopers commented on #949
@angelleye Could you please ask API request log file for more troubleshoot ?

[2017-12-01 17:37] iMansoorAliKhan commented on #916
Well they might have changed it as it was a staging site, I have asked them for the details, Will update here soon.

[2017-12-01 19:55] angelleye commented on #929
@tejasm-itpath The user says they excluded paypal.com from within their Google Analytics settings and now things are tracking properly.  As such, I'm curious if we still need the change we made here..??

[2017-12-01 20:41] angelleye opened #951 "Express Checkout - JSv4 Integration"
* https://developer.paypal.com/docs/integration/direct/express-checkout/integration-jsv4/

Right now we're outputting our own PayPal Express and Credit buttons using basic buttons.  PayPal now has "JSv4" integration where we would use a JS snippet to output the buttons and this would automatically include PayPal, Venmo, PayPal Credit, Credit card logos, etc.

[2017-12-01 20:42] angelleye commented on #490
May need to consider #951 before doing anything here.

[2017-12-04 06:49] angelleye opened #952 "Payments Pro - Email Notification Problem"
I just noticed that our email from WooCommerce has a problem.

In a previous issue we added the option to include Address Verification and Cart Security Code Details in the WooCommerce email that gets sent to the site admin.  Both sections are labeled AVS, though.

![image](https://user-images.githubusercontent.com/629241/33539585-c905b53c-d88c-11e7-8543-91cd55f0b7e3.png)

The Credit Card Security

[2017-12-04 06:49] angelleye commented on #952
Need to make sure to check this for all direct credit card gateways.

[2017-12-05 07:05] iMansoorAliKhan commented on #916
@kcppdevelopers , I need to update here, I was able to reproduce this using Flatsome theme and X theme as well. Here is how to reproduce this issue.
Add a product to cart, go to checkout page and do a normal checkout using default gaateways ( make sure order review page is enabled )
When you will return from PayPal it will not show you the button to accept terms.
but If you do checkout using EC bu

[2017-12-05 07:23] iMansoorAliKhan commented on #916
**Update: ** When you are testing the scenario, check it when WC germanized is enabled too.
I guess there is a conflict coming from this plugin as well.

[2017-12-06 05:18] angelleye opened #953 "Express Checkout - In Context not working from mini cart..??"
naishair.com (Skype) reports that the mini-cart is redirecting to PayPal even with In Context enabled.

[2017-12-06 07:34] iMansoorAliKhan commented on #916
Now on client side I can still see that something from our plugin is hiding that button
http://prntscr.com/hjq57l

This happens only if you have terms and condition page set too.

[2017-12-06 07:59] iMansoorAliKhan commented on #953
I had experienced this too, but thought this was made this way so didnot reported.

[2017-12-06 08:32] iMansoorAliKhan opened #954 "Payment Action at product Level"
https://www.angelleye.com/support/scp/tickets.php?id=1644

[2017-12-06 09:33] kcppdevelopers commented on #916
@iMansoorAliKhan I found issue, it conflict with Germanized  plugin.

[2017-12-06 09:39] kcppdevelopers commented on #885
@angelleye Can you please confirm above issue details?

[2017-12-06 09:52] kcppdevelopers commented on #880
@angelleye  In our support system, issue has been resolved.

[2017-12-06 09:54] kcppdevelopers commented on #814
@angelleye We have already resolved issue.

[2017-12-06 10:15] angelleye commented on #885
@kcppdevelopers I'm just going to move this to 1.5.0 for now

[2017-12-06 10:16] #880 closed

[2017-12-06 10:17] #814 closed

[2017-12-07 05:08] iMansoorAliKhan commented on #916
[code]

did you tested this scenario as well? because client dont have germanized installed at all.

[2017-12-07 08:01] iMansoorAliKhan commented on #916
On my local test this worked for me.

[2017-12-07 08:46] kcppdevelopers commented on #785
@angelleye Can you please explain with more details?

[2017-12-07 08:56] kcppdevelopers commented on #640
@angelleye  yes, we've apparently added some logic that disables all of our gateways if Woo version is below 2.6 version. PayPal Rest SDK required 5.3.0 >= PHP version and Braintree SDK required 5.4.0 >= PHP version.

Please let me know your feedback on this.

[2017-12-07 10:25] kcppdevelopers commented on #838
@angelleye  I have double check, In express checkout and PayPal Pro we are passing discount as a line item.

PayPal Pro order screenshot line item not displaying that why discount is hidden.

[2017-12-07 10:28] kcppdevelopers commented on #851
@angelleye Issue has been closed in our support ticket system.

[2017-12-08 00:01] angelleye opened #955 "Braintree - Duplicate refund triggers when refresh order page..??"
* https://wordpress.org/support/topic/order-refresh-after-refund-creates-duplicate-refund/

[2017-12-08 00:01] angelleye commented on #955
Should check into this with all of the other gateways, too.

[2017-12-08 06:25] iMansoorAliKhan commented on #955
I have another person in ticket who have issue with refunds, while testing that I did refresh the page ( in backend ) and I dont see any duplicate refunds for EC.

[2017-12-08 06:34] angelleye commented on #955
@iMansoorAliKhan Is it the same issue being reported or something different?  Please provide ticket URL.

[2017-12-08 11:45] kcppdevelopers commented on #840
@angelleye I have spend much time on this issue, but on form submit with In Context checkout JS not working.

[2017-12-08 12:44] robwatson-intechra commented on #909
I'm seeing this error again. This one also has the rounding problem (but not its error message) discussed in another issue (#892 ).

[code]

[2017-12-08 13:51] iMansoorAliKhan commented on #955
@angelleye not similar like they were seeing that the option of fully refund was not available, method EC. Here is ticket URL https://www.angelleye.com/support/scp/tickets.php?id=1649

[2017-12-08 14:24] iMansoorAliKhan commented on #909
Thanks for your feedback, we will look into it again and see if we need any other adjustments.

[2017-12-09 17:18] iMansoorAliKhan commented on #944
Please find with the attached copy provided by the user.
[codecanyon-11997014-woocommerce-ultimate-multi-currency-suite-wordpress-plugin.zip](https://github.com/angelleye/paypal-woocommerce/files/1544874/codecanyon-11997014-woocommerce-ultimate-multi-currency-suite-wordpress-plugin.zip)

[2017-12-11 07:14] kcppdevelopers opened #956 "Refunds are not working properly..??"
it's apparently not error handling properly, and it's marking it successfully refunded even though it wasn't.

[2017-12-11 11:26] kcppdevelopers commented on #898
@angelleye  In Braintree CC UI, we have used Woo default CC UI. there is no any hook/filter available to change fields name.

[2017-12-11 11:26] kcppdevelopers commented on #898
![cc_form](https://user-images.githubusercontent.com/13145461/33828987-48bfc882-de94-11e7-8105-767ff21c6cfa.png)

[2017-12-11 20:10] iMansoorAliKhan commented on #885
I found a ticket similar to this issue, I have added in the description as well and I think that fits the same scenario.

[2017-12-12 01:22] angelleye commented on #785
@kcppdevelopers The screenshot provided here doesn't seem helpful, but apparently what the user is reporting is that with Woo Subscriptions + PayPal Standard the orders that get created say "Subscription Payment" in WC.  However, with our plugin they are just getting listed as "Payment".

Can you verify this?

[2017-12-12 01:25] angelleye commented on #640
@kcppdevelopers Okay, so in this example I don't want to completely hide the REST and Braintree gateways.  Instead, I'd like to continue to display them, but show them as disabled with a message that "This gateway requires WooCommerce 2.6 or higher and PHP 5.3 or higher."

Also, it seems that all of the other gateways are getting hidden as well even though they don't have this requirement..??  Any

[2017-12-12 01:29] angelleye commented on #838
@kcppdevelopers Something still doesn't make sense here.  In either case if we're passing the discount as a line item then we should see it show up in the cart contents displayed on the PayPal transaction details.

Somehow, though, the Express Checkout example here actually broke out Discount as if it was passed in its own separate parameter similar to shipping, tax, handling, etc.

With Payment P

[2017-12-12 01:30] angelleye commented on #851
Okay, I'll go ahead and close this issue then.

[2017-12-12 01:30] #851 closed

[2017-12-12 01:33] angelleye commented on #840
I'll move this to 1.5.0, but I don't want to give up on it.  We get lots of requests for this.  Seems there must be some way to make it work...

[2017-12-12 01:36] angelleye commented on #909
@robwatson-intechra It seems the transaction actually did get processed successfully, right?  Did you see the funds in your account?

[2017-12-12 01:36] angelleye opened #957 "IP Address format conflict still happening sometimes..??"
We addressed this in #909 but @robwatson-intechra has responded there that this is still happening.

[2017-12-12 01:44] angelleye commented on #956
@kcppdevelopers Did we also have to make a change in the multi-account plugin, or only here?

[2017-12-12 02:16] robwatson-intechra commented on #909
Yeah, the transaction processes in spite of the error. However, in this case we also have a rounding error. Again, while the transaction does process, the amounts that are stored in WooCommerce and picked up in the WooCommerce API by a third party fulfillment center show an L_COST1 of 0.02 which messes up their calculations. That's why I referenced #892 .

[2017-12-12 02:56] kcppdevelopers commented on #956
@angelleye yes, We also did changed in the multi-account plugin.

[2017-12-12 03:29] angelleye commented on #909
@robwatson-intechra Okay, thanks, we'll look more into this.

[2017-12-12 06:56] angelleye opened #958 "Opt-In to Logging"
When we first launched this plugin we had some basic logging in place so we could store in our database a list of all the domains that activated / deactivated the plugin.  We had to remove this because of the Woo privacy policy.

We can add it back as long as we include an "opt-in", so we can have an admin notice that says:

"Please help us improve the plugin by tracking limited details about the

[2017-12-12 07:40] angelleye opened #959 "WPML compatibility adjustments necessary..??"
* https://mail.google.com/mail/u/0/#inbox/160121053e732b58

WPML reached out to us saying that it looks like we need to make adjustments..??

[2017-12-13 08:16] angelleye opened #960 "Express Checkout - Captured Authorizations don't allow refunds from WC order screen..??"
* https://mail.google.com/mail/u/0/#inbox/1604cdd2da9831ac

[2017-12-13 08:30] iMansoorAliKhan commented on #960
I think this user is on our support as well ( id=1649 ), this seems to be the same as they showed greyed refund button. and yes , this case is true when authorization is pending, becasue on my local I see like this.
http://prntscr.com/hmu5bq

[2017-12-13 08:40] iMansoorAliKhan commented on #885
In any case of shipping option I'm seeing like this http://prntscr.com/hmu9n4, client is seeing the same as well.

[2017-12-13 09:09] angelleye commented on #960
That would make sense that you cannot refund when the auth is pending because there is no transaction to refund yet.  If there is a capture, though, we need the ability to refund.

[2017-12-13 09:34] angelleye opened #961 "WooCommerce 3.3 Compatibility Check"
* https://woocommerce.wordpress.com/2017/12/12/woocommerce-3-3-beta-is-here/

We need to download a copy of this beta and make sure our plugin is updated and ready to go when it's released.

[2017-12-13 09:53] angelleye opened #962 "PayFlow - Sandbox Credentials"
The PayFlow sandbox requires an entirely separate account for testing that most people don't have.  We need to provide credentials they can use here from our own test PayFlow account to make this easy on people.

[2017-12-13 19:19] iMansoorAliKhan commented on #960
So you are saying that, if its not captured / authorized then the button will be grayed, but if we have partial or full authorization/capture then this button should work?

[2017-12-13 19:41] iMansoorAliKhan commented on #949
@kcppdevelopers @angelleye , Here is ticket relavent to this thread along with the login detail
https://www.angelleye.com/support/scp/tickets.php?id=1662

[2017-12-14 07:18] angelleye opened #963 "WP Tested up to..??"
In primary plugin file we have "tested up to 4.8.3".  This needs to be updated to latest WP version.

[2017-12-14 08:26] kcppdevelopers opened #964 "PayPal Rep Feedback"
PayPal has a video for this now: https://youtu.be/hXWFn8_jUDc

replace our More Info graphic with that video, and make sure the pop-up window size matches nicely with the video and looks good.

[2017-12-14 12:34] angelleye commented on #960
Yes, exactly.  If there are captured funds then those funds need to be available for capture.  The feedback we're getting is that even when the full amount the auth has been captured they still cannot refund.

[2017-12-14 13:53] kcppdevelopers commented on #949
@angelleye @iMansoorAliKhan I have double checked client website, they are not using our dev branch. they should used dev branch to resolved calculation issue.

[2017-12-15 06:03] kcppdevelopers commented on #959
@angelleye Can you please provide login details on slack ?

[2017-12-15 06:08] kcppdevelopers commented on #950
@angelleye Can you please provide document link?

[2017-12-15 06:14] kcppdevelopers commented on #929
@angelleye yes, we just added "utm_nooverride" query parameters it will help to Google Analytics things tracking properly.

[2017-12-15 06:18] kcppdevelopers commented on #916
@iMansoorAliKhan yes, I have tested above scenario as well and it's working well.

[2017-12-15 06:22] kcppdevelopers commented on #900
@iMansoorAliKhan Could you please provide your input here?

[2017-12-15 06:50] #960 closed

[2017-12-15 08:10] kcppdevelopers commented on #785
@angelleye I have double checked and found that they are talking about PayPal history page not Woo order page.

We are using simple payment with billing agreement in express checkout and PayPal standard used PayPal subscription payment.

[2017-12-15 09:30] kcppdevelopers commented on #838
@angelleye

- PayPal express checkout request:

![sale_ec_paypal_request](https://user-images.githubusercontent.com/13145461/34035412-f67e0680-e1a7-11e7-9a00-cdba20395e1b.png)

- PayPal express checkout details page:

![sale_ec_paypal](https://user-images.githubusercontent.com/13145461/34035500-3c578b4a-e1a8-11e7-9a44-9fe32394ccf8.png)

- PayPal Pro Request:

![auto_paypal_pro_paypal](https://user

[2017-12-15 09:44] angelleye commented on #959
@kcppdevelopers details provided in slack...

[2017-12-15 09:52] angelleye commented on #950
@kcppdevelopers It's not loading yet, but it will be https://www.angelleye.com/paypal-woocommerce-subscriptions/

[2017-12-15 09:54] angelleye commented on #838
@kcppdevelopers Thanks for verifying.

[2017-12-15 11:35] kcppdevelopers commented on #776
@angelleye Again I try multiple time but for me it's working..

[2017-12-16 05:43] #831 closed

[2017-12-16 05:45] angelleye commented on #813
@kcppdevelopers Our tool tip here for the Sale/Auth setting says that we'll have to capture funds from within the PayPal account.  We cannot capture from the WC order page..??

[2017-12-16 05:47] #785 closed

[2017-12-16 05:48] #675 closed

[2017-12-16 05:49] #775 closed

[2017-12-16 07:26] #766 closed

[2017-12-16 07:28] #640 closed

[2017-12-16 07:29] #838 closed

[2017-12-16 07:29] #776 closed

[2017-12-16 07:31] #867 closed

[2017-12-16 07:32] #874 closed

[2017-12-16 07:34] #877 closed

[2017-12-16 07:41] #883 closed

[2017-12-16 07:43] #767 closed

[2017-12-16 07:45] #916 closed

[2017-12-16 07:47] #924 closed

[2017-12-16 07:49] #929 closed

[2017-12-16 07:51] #935 closed

[2017-12-16 07:52] #938 closed

[2017-12-16 07:53] #940 closed

[2017-12-16 08:30] #941 closed

[2017-12-16 08:31] #942 closed

[2017-12-16 08:34] #943 closed

[2017-12-16 08:35] #945 closed

[2017-12-16 08:36] #946 closed

[2017-12-16 08:37] #952 closed

[2017-12-16 08:38] #953 closed

[2017-12-16 08:40] #955 closed

[2017-12-16 08:42] #956 closed

[2017-12-16 08:43] #957 closed

[2017-12-16 08:44] #961 closed

[2017-12-16 08:44] #963 closed

[2017-12-16 08:45] #964 closed

[2017-12-16 08:46] #934 closed

[2017-12-16 08:46] #936 closed

[2017-12-16 08:48] #921 closed

[2017-12-16 08:48] angelleye commented on #921
https://www.angelleye.com/paypal-woocommerce-subscriptions/

[2017-12-17 08:10] angelleye opened #965 "PayFlow - Default WC Order Status Option"
The default WC order status for completed orders is `Processing`.  We often get requests where people want this to be changed to `Completed`.  For most gateways this can be done using IPN and our [guide to automatically update the status](https://www.angelleye.com/automatically-update-woocommerce-order-status-when-paypal-payment-completes/) accordingly.

PayFlow does not trigger IPNs, though.  It

[2017-12-18 08:32] angelleye opened #966 "Express Checkout - PayPal Credit button shows up even when no price is set on product..??"
![image](https://user-images.githubusercontent.com/629241/34096598-9671ea72-e39b-11e7-971b-f5bc745a70b9.png)

Express Checkout is correctly getting hidden when there is no price, but the PayPal Credit button is still showing up.

[2017-12-19 08:04] angelleye opened #967 "Express Checkout - Hook or option in settings to update WC checkout page logos."
* https://wordpress.org/support/topic/change-paypal-mark-on-checkout/

[2017-12-19 09:11] kcppdevelopers commented on #967
@angelleye I already have filter to change icon on checkout page.

`add_filter('woocommerce_paypal_express_icon', 'angelleye_change_express_checkout_icon', 10, 1);
function angelleye_change_express_checkout_icon($icon_url) {
	$icon_url = '<img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png" alt="Credit Card Badges">';
	return $icon_url;
}`

[2017-12-19 09:12] kcppdevelopers commented on #967
https://pastebin.com/REuJrWnp

[2017-12-19 09:24] kcppdevelopers commented on #959
@angelleye I have logged in above website, there is nothing but simple empty website.

https://content.screencast.com/users/kcppdevelopers/folders/Jing/media/267ad39d-1aac-4e07-a1aa-06e0c39c1d7c/2017-12-19_1451.png

Can you please explain with more details about issue?

[2017-12-19 09:28] kcppdevelopers commented on #813
@angelleye  I have not added capture from the WC order page, REST Credit Card payment method is deprecated so we will not get more user on this payment method. Let me know if are you still want to add this functionality?

[2017-12-19 11:01] kcppdevelopers commented on #950
@angelleye We also need to add notice for "PayPal Payments Advanced" payment method right?

[2017-12-19 12:07] kcppdevelopers commented on #950
@angelleye Please [update](https://github.com/angelleye/paypal-woocommerce/blob/dev/classes/wc-gateway-paypal-pro-payflow-angelleye.php#L1693) Updates verbiage, text etc..

[2017-12-19 12:11] kcppdevelopers commented on #906
@angelleye Can you please explain with more details?

[2017-12-19 12:17] angelleye commented on #959
@kcppdevelopers Yeah it was just a test site they setup for us to test the WPML functionality.  I've always been a bit confused with what we need to do to ensure our plugin is fully compatible with theirs.  Was hoping you could find some info about that...

[2017-12-19 12:18] angelleye commented on #813
@kcppdevelopers Can you give me an estimate on hours to get it done?

[2017-12-19 12:22] kcppdevelopers commented on #813
@angelleye It will take 3 to 4 hours to done.

[2017-12-19 12:23] angelleye commented on #906
@kcppdevelopers As I look at this again I think a simple solution would be for the user to update the EC button with their own graphic that includes whatever icons they want.  I'll let them know that.  We can skip this for now.

[2017-12-19 12:23] #906 closed

[2017-12-19 12:24] angelleye commented on #813
@kcppdevelopers Okay, don't worry about it for now.  We may address it again later because while their page does say it's deprecated, they aren't truly removing it.  We aren't getting much feedback on this, though, so I'm not worried about it for now.

[2017-12-19 12:50] angelleye opened #968 "Adjustments necessary with our logic around our review page..??"
* https://www.angelleye.com/support/scp/tickets.php?id=1661

[2017-12-20 06:29] angelleye commented on #968
This is related to #896

[2017-12-21 00:41] DamirPecnik commented on #916
In my case this is not working, the js code that ticks the checkbox is not firing on Review Order page!

[2017-12-21 06:04] kcppdevelopers commented on #959
![959](https://user-images.githubusercontent.com/13145461/34242692-dca0b0f6-e642-11e7-9653-87e8ff2c2a9a.png)

[2017-12-21 07:06] iMansoorAliKhan commented on #949
Another report for this issue : https://www.angelleye.com/support/scp/tickets.php?id=1679,
Sent them the dev branch, will leave feedback  here

[2017-12-21 07:08] iMansoorAliKhan commented on #916
Can you open your browser's debugger console and see if there are some JS errors on the order review page? Or can you share your site URL?

[2017-12-21 07:27] angelleye commented on #916
@DamirPecnik Did you pull the entire current dev branch for testing?  Did you make sure to clear any caching / CDN tools that you may be running after updating to our latest dev branch?

[2017-12-21 07:33] #813 closed

[2017-12-21 07:33] #826 closed

[2017-12-21 07:36] #651 closed

[2017-12-21 07:39] iMansoorAliKhan commented on #900
@kcppdevelopers , sure I;m gonna test it today and will leave feedback.

[2017-12-21 07:57] iMansoorAliKhan commented on #900
![image](https://user-images.githubusercontent.com/11312949/34245946-3b71deba-e64e-11e7-8eb9-5fda97d2445b.png)
if set to 100% then this happens

![image](https://user-images.githubusercontent.com/11312949/34245980-6868e6e8-e64e-11e7-8e21-03ab03b1b3d9.png)

So here is what I see: The Pay with credit card button is over this grey overlay from theme css , so I think we need to play with z-index to ge

[2017-12-21 08:00] iMansoorAliKhan commented on #900
If I add position to our buttons then they are up the overlay from theme
http://prntscr.com/hqepkq

[2017-12-21 08:32] angelleye opened #969 "Token Payment Save to Account Adjustment"
The option to "save to account" for token payments is showing up like this:

![image](https://user-images.githubusercontent.com/629241/34247136-0f999b22-e5f7-11e7-9dde-df352556c9f8.png)

So the text is below the check box.  It should be next to it.

Also, "save to account" isn't very descriptive.  I'd like to change this to say "Save payment method to my account."

[2017-12-21 09:12] angelleye commented on #898
@kcppdevelopers As discussed in Slack it seems we're actually not using the built in Woo forms, so we can go ahead and add our own filter hooks for adjusting field labels.

[2017-12-21 09:15] angelleye commented on #893
I've never been able to get this guy to respond to me, and he never contacted me after placing this premium support order.

[2017-12-21 09:16] angelleye commented on #900
@kcppdevelopers Looks like you should have some more info to work with here now..??

[2017-12-21 09:28] #950 closed

[2017-12-21 09:29] #959 closed

[2017-12-21 09:34] angelleye commented on #965
@kcppdevelopers I see this update has been merged into dev, and I see the option added in the code when I view it locally, but I'm running on the dev branch at woo.angelleye.com and this option is not showing up there in settings for some reason..??

[2017-12-21 09:36] #966 closed

[2017-12-21 09:37] #967 closed

[2017-12-21 09:44] #965 closed

[2017-12-21 10:08] kcppdevelopers commented on #898
add_filter('cc_form_label_card_code', 'own_cc_form_label_card_code', 10, 2);
add_filter('cc_form_label_expiry', 'own_cc_form_label_expiry', 10, 2);

    // $gateway_id value like braintree, paypal_pro, paypal_advanced, paypal_credit_card_rest, paypal_pro_payflow
    $lable = 'Test Card number';
    return $lable;
}

    // $gateway_id value like braintree, paypal_pro, paypal_advanced, paypal_credi

[2017-12-21 12:16] #898 closed

[2017-12-21 12:17] #900 closed

[2017-12-21 12:52] kcppdevelopers commented on #969
https://www.screencast.com/t/bOe8jGuk

[2017-12-21 13:04] #969 closed

[2017-12-21 13:06] angelleye opened #970 "Generate Fresh default pot file."
1.4.7 adds new options and updated verbiage, so we need to update our default pot file.

[2017-12-21 19:37] DamirPecnik commented on #916
Installed 1.4.7 and its working fine now! Sorry for the false alarm.

[2017-12-21 23:23] angelleye opened #971 "Payment Gateway Fees and Discounts for Woo Conflict."
* https://wordpress.org/support/topic/1-4-7-crashes-site/
* https://wordpress.org/plugins/checkout-fees-for-woocommerce/

Our 1.4.7 update seems to be conflicting with this plugin for some reason.

[2017-12-22 03:09] kcppdevelopers commented on #971
@angelleye  I have checked and found that it's not our plugin issue.

`Fatal error: Call to a member function get_available_payment_gateways() on a non-object in /home/[account]/public_html/wp-content/plugins/checkout-fees-for-woocommerce/includes/class-wc-checkout-fees.php on line 163`

Above Error from "Payment Gateway Based Fees and Discounts for WooCommerce" plugin.

[2017-12-22 03:18] kcppdevelopers commented on #916
@DamirPecnik glad to hear it! If you have a moment to [leave a review for the plugin](https://wordpress.org/support/plugin/paypal-for-woocommerce/reviews/) that would be greatly appreciated. Thanks!

[2017-12-22 08:51] #971 closed

[2017-12-22 10:21] angelleye commented on #33
This has been added as PayPal Marketing Solutions under Express Checkout.

[2017-12-22 10:21] #33 closed

[2017-12-22 10:22] angelleye commented on #9
This was done in a separate plugin, PayPal WP Button Manager.

[2017-12-22 10:22] #9 closed

[2017-12-22 10:23] angelleye commented on #12
Adaptive Payments is no longer being used.  PayPal is introducing a new API for "Marketplaces" soon.  We'll be implementing that as soon as it's ready.

[2017-12-22 10:23] #12 closed

[2017-12-22 10:24] angelleye commented on #13
This has been done with In Context.

[2017-12-22 10:24] #13 closed

[2017-12-22 10:26] angelleye commented on #7
The use of In Context makes this not as necessary as it used to be.  Closing for now, but we may revisit this at some point in the future.

[2017-12-22 10:26] #7 closed

[2017-12-22 10:28] angelleye commented on #17
This is very old issue, and we haven't ever had any other requests for this sort of thing.  I'm just going to close this.

[2017-12-22 10:28] #17 closed

[2017-12-22 10:29] angelleye commented on #48
At this point the file will need to be updated to match our latest default language file, and then we'll need to go ahead and translate any text that was not included when this french file was created.  We can do that with Google Translate.

[2017-12-22 10:30] #925 closed

[2017-12-22 10:30] angelleye commented on #864
Support ticket was closed, so closing this as well.

[2017-12-22 10:32] angelleye commented on #655
We have not had any reports of problems with our language files since latest updates, so closing this issue.

[2017-12-22 10:32] #655 closed

[2017-12-22 10:32] angelleye commented on #613
We haven't had any reports of this for a while now, so I'm closing this issue.

[2017-12-22 10:32] #613 closed

[2017-12-22 10:33] angelleye commented on #509
PayPal Plus is now available separately: https://www.angelleye.com/product/woocommerce-paypal-plus-plugin/

[2017-12-22 10:33] #509 closed

[2017-12-22 10:34] #344 closed

[2017-12-22 10:34] angelleye commented on #178
This could be handled with the use of a currency converter plugin.

[2017-12-22 10:34] #178 closed

[2017-12-22 10:35] angelleye commented on #162
We have not had any reports of this for some time now.  Should be fixed in latest versions.

[2017-12-22 10:35] #162 closed

[2017-12-22 10:36] angelleye commented on #138
This functionality is working in our latest release.

[2017-12-22 10:36] #138 closed

[2017-12-22 10:38] angelleye commented on #130
This issue has not come up for some time now, so I don't think we need to worry about it anymore.

[2017-12-22 10:38] #130 closed

[2017-12-22 10:39] angelleye commented on #120
No reports of this issue for some time now.

[2017-12-22 10:39] #120 closed

[2017-12-22 10:40] angelleye commented on #77
We are now using osTicket, so this particular method of doing this is obsolete.

[2017-12-22 10:40] #77 closed

[2017-12-22 10:41] angelleye commented on #75
This is now done with PayPal Marketing Solutions tied into Express Checkout.

[2017-12-22 10:41] #75 closed

[2017-12-22 10:42] angelleye commented on #71
We are doing this in PayPal Here for WooCommerce plugin: https://github.com/angelleye/paypal-here-woocommerce

[2017-12-22 10:42] #71 closed

[2017-12-22 10:42] angelleye commented on #60
We resolved this in a different issue.

[2017-12-22 10:42] #60 closed

[2017-12-22 10:44] angelleye commented on #56
We never did this fully added, but we have lots of changes in language files since.  We should just regenerate this at some point.  No requests for it since then, though, so simply closing for now.

[2017-12-22 10:45] angelleye commented on #56
Need to update this to match current language file and use Google to translate anything we're missing.

[2017-12-22 10:45] #54 closed

[2017-12-22 10:46] angelleye commented on #32
Eventually we'll be doing this as a separate plugin.  Closing issue here.

[2017-12-22 10:46] #32 closed

[2017-12-22 10:56] kcppdevelopers commented on #52
@angelleye survey question deprecated since Sept. 8, 2016

![52](https://user-images.githubusercontent.com/13145461/34295725-d77478ae-e734-11e7-8b12-a152268ff4ae.png)

[2017-12-22 10:58] angelleye commented on #52
These fields have been deprecated.

[2017-12-22 10:58] #52 closed

[2017-12-22 10:59] kcppdevelopers commented on #609
#731

[2017-12-22 11:02] kcppdevelopers commented on #841
@angelleye  We already passed line item parameters same as other Payment methods.

[2017-12-22 11:06] kcppdevelopers commented on #827
@angelleye  https://www.angelleye.com/product/paypal-woocommerce-multi-account-management/

[2017-12-22 11:49] #841 closed

[2017-12-22 11:49] #827 closed

[2017-12-22 12:24] #869 closed

[2017-12-22 22:17] angelleye opened #972 "Express Checkout - Option to add message to cart page."
* https://wordpress.org/support/topic/add-express-checkout-message-on-cart-page-now-its-only-on-checkout-page/

[2017-12-24 14:42] iMansoorAliKhan commented on #949
**Update**
The client applied the dev branch and error was fixed but now they are seeing another error. Below is the detailed scenario of the error.

@kcppdevelopers  can you tell what could be the reason here?

[2017-12-24 14:50] angelleye commented on #949
@iMansoorAliKhan Need to see the log so we can see the full request.

[2017-12-24 14:57] iMansoorAliKhan commented on #949
@angelleye , I have shared that with you, and its related to shipping amount in negative. I have created another issue for that.

[2017-12-24 14:59] iMansoorAliKhan opened #973 "Yith Gift card : Error : 10426 : Invalid Item Total"
Client is getting error while checking out and logs shows that shipping is negative.
I have shared logs with you on slack for review.

[2017-12-24 15:01] iMansoorAliKhan commented on #973
#949

[2017-12-26 17:18] iMansoorAliKhan commented on #939
Another issue: With 1.4.7 In-Context is been fired from the mini cart, but not cart page.
Theme Flatsome Latest version.

[2017-12-28 05:20] angelleye commented on #972
In Express Checkout settings we have an option for "Express Checkout Message".  The value entered here gets displayed on the WC checkout page at the top (if you have EC enabled at the top of the checkout page.)

![image](https://user-images.githubusercontent.com/629241/34400926-fbb020d0-eb5b-11e7-9f29-a2552b0ee0dd.png)

The request here is to add an option in the settings which you can enable to a

[2017-12-28 05:23] angelleye commented on #365
Need to make sure to test this with all of our payment gateways.

[2017-12-28 05:26] angelleye commented on #949
@kcppdevelopers It looks like your commit from above was included in our 1.4.7 release, so now I'm a little confused if this was actually resolved or not..??

[2017-12-28 05:32] angelleye commented on #962
We can auto-populate the PayFlow sandbox credentials with the following:

Partner:  PayPal
Merchant Login: angelleye
Username: paypalwoocommerce
Password: dwG7!Yp*PLY3

We should also add a note in the sandbox credentials description that lets the user know this account is a default account they can use for testing purposes if they don't have their own PayFlow sandbox account.

[2017-12-28 05:35] angelleye commented on #958
If you look at `activate_paypal_for_woocommerce()` and `deactivate_paypal_for_woocommerce()` you'll see our call to a web service for logging is still included, but commented out.  So we just need to add our opt-in message as explained above, and then if the user has opted in we can include the logging code.

[2017-12-28 05:43] angelleye commented on #937
With Yoast SEO installed, when you click into the SEO -> Dashboard you'll find a Notifications panel.  This allows Yoast to push notifications to this panel at any time, and the user can read / dismiss these notifications.

We don't have our plugin displayed in the primary admin panel menu sidebar, so if we have notifications available that the user has not yet read / dismissed we should display a

[2017-12-28 05:44] angelleye commented on #937
We'll need a simple tool from angelleye.com that allows us to submit these push notifications as well.

[2017-12-28 05:47] angelleye commented on #954
Right now we have an option in our gateway settings where people can choose whether or not to submit orders as Authorization or Sale.  We need to add this as a product-level option similar to our options for "No Shipping Required", "Enable Express Checkout", "Enable Billing Agreement", etc.

This will also need to go in our Bulk Updater tool so people can easily enable/disable this for multiple pr

[2017-12-28 05:49] angelleye commented on #865
Need to add the transaction fee as order meta data for all gateways that include it in the payment response.

[2017-12-28 05:52] angelleye commented on #836
We have already changed the logo here now, and I think we probably already fixed the spacing issue, too.  Just need to double check.

[2017-12-28 05:53] angelleye commented on #799
@kcppdevelopers Which parameter are you referring to here?

[2017-12-28 05:53] iMansoorAliKhan commented on #949
@angelleye , this issue was resolved with the dev branch we shared with the client, but then they reported another issue which I have referenced here #973  and also shared logs with @kcppdevelopers .

[2017-12-28 05:55] #645 closed

[2017-12-28 05:58] angelleye commented on #732
This is a pretty old issue now, so just need to check if this Deposits and Down Payments plugin is working with our plugin or not.  If not, see if we can adjust to make it work.  Of course we need to check this in all of our payment gateways.

[2017-12-28 05:59] angelleye commented on #954
This is a duplicate of #642 where some more feedback from a user is provided.

[2017-12-28 14:13] tejasm-itpath commented on #962
@angelleye  I have auto-populated values but don't know where to add the notice

[2017-12-29 03:34] kcppdevelopers commented on #962
@tejasm-itpath We will discus on call.

[2017-12-29 10:13] tejasm-itpath commented on #958
@angelleye
Right now we are displaying the buttons and message as shown in this link https://www.screencast.com/t/WOLbj0bphCos
But I am thinking about adding our plugin name too as header or anywhere else.

[2017-12-29 12:53] tejasm-itpath commented on #864
@iMansoorAliKhan  @angelleye
As per link https://affiliatewp.com/changelog/ Latest version is 2.1.10 ,So can we get AffiliateWP Version: 2.1.3.1 ?

[2017-12-29 13:31] tejasm-itpath commented on #862
@angelleye I have reorder  error info email code  but Do you need this  in logs or order note  too ?

[2017-12-30 19:10] ripieces opened #974 "Express Checkout User Not Created When Name, SurName and Email are not empty"
This bug was introduced in
https://github.com/angelleye/paypal-woocommerce/commit/ee9d8a6d1ff574df2ca1b4766902277363c2cc58

The bug is in in line 1337 in express-checkout/class-wc-gateway-paypal-express-request-angelleye.php:
https://github.com/angelleye/paypal-woocommerce/blob/release/angelleye-includes/express-checkout/class-wc-gateway-paypal-express-request-angelleye.php#L1337

[code]

If all c

[2017-12-30 19:15] angelleye commented on #974
@ripieces Thanks, we'll take a look and make necessary adjustments in a patch update.

@kcppdevelopers Please review and adjust accordingly.

[2017-12-30 19:43] angelleye opened #975 "Hook Name Adjustment"
In #967 we added a hook, but we didn't use the same format as all of the other hooks we've added.  Would like the hook name to be changed from `woocommerce_paypal_express_icon` to `angelleye_ec_checkout_icon`.

[2017-12-30 19:48] #975 closed

[2017-12-31 21:42] angelleye commented on #949
Okay, then I'm going to leave this issue closed.

[2017-12-31 21:42] #949 closed

[2017-12-31 21:46] angelleye commented on #958
@tejasm-itpath I agree, we need the notice to specify which plugin it's referring to.

[2017-12-31 21:48] angelleye commented on #864
@tejasm-itpath I have responded to our support ticket asking the user to verify which one they are using.

[2017-12-31 21:49] angelleye commented on #862
No, this issue is specific to the email that people get.  Can you provide a screenshot of what the email looks like now?

[2018-01-01 12:09] tejasm-itpath commented on #732
@angelleye
I have tested with Free version of plugin YITH WooCommerce Deposits and Down Payments.
 https://wordpress.org/plugins/yith-woocommerce-deposits-and-down-payments/

It is working for all our payment gateways. But in the Ticket they have mentioned **Premium version of the plugin** so we need to check with that.

[2018-01-01 12:56] tejasm-itpath commented on #862
Yes @angelleye
Check this link https://www.screencast.com/t/m1rNX0D8sa

[2018-01-01 12:58] tejasm-itpath commented on #937
@angelleye
For this we need to discuss on call, How can we manage notifications and How can we add that notice in particular domain.

[2018-01-01 13:01] tejasm-itpath commented on #865
I discuss this issue with @kcppdevelopers
There are two way to get that details 1) need to used PayPal IPN 2) or use GetTransactionDetails API Operation.

PayPal standard comes with WooCommerce and it has already PayPal IPN integrated that's why it shows in custom field/ meta field in order details. To do so in our plugin , we also need to integrate IPN.
Or other idea is to call GetTransactionDeta

[2018-01-01 13:19] tejasm-itpath commented on #836
@angelleye
Yes , I have verified , It is changed

[2018-01-01 13:47] tejasm-itpath commented on #650
@angelleye
I installed linked plugin but it is full of errors , https://www.screencast.com/t/O4aBABIwYMX

[2018-01-01 18:24] angelleye commented on #732
I responded to the ticket asking them to provide a copy of that premium plugin.  In the future please go ahead and respond to tickets like this and request what you need from the user.  Waiting on me to do it just delays things.

[2018-01-01 18:27] angelleye commented on #937
@tejasm-itpath What we'll need to do is build a plugin that we'll run from angelleye.com where I can submit new notifications to be displayed in various plugins.  So in our plugin I would select which plugin I want to send a notification to along with the message I want to send.  This would update an RSS feed, for example, that is hosted by angelleye.com.

Then our individual plugins where we've i

[2018-01-01 18:29] angelleye commented on #865
@tejasm-itpath The fee information is typically returned in the final API call.  GetExpressCheckoutDetails would not have the fee information, and actually, in the case of Express Checkout I think the fee may not be available at all.  We'll need to check an example of the DoExpressCheckoutPayment response to see if it's included there.

For DoDirectPayment the fee would be available in the respons

[2018-01-01 18:31] angelleye commented on #650
@tejasm-itpath Those look like notices that may just be from the fact that you haven't saved any settings yet.  Did you try to go ahead and configure the plugin and run some tests with it?

[2018-01-02 05:12] tejasm-itpath commented on #650
@angelleye
No , I haven't configure that plugin, But when I installed this plugin shows "Headers already sent" error and then I moved to the setting page it display  notices so that I thought that older version have some errors like this.
I am going to configure and let you know.

[2018-01-02 05:19] tejasm-itpath commented on #865
@angelleye  I have mentioned **GetTransactionDetails API**  not **GetExpressCheckoutDetails**
so  **GetTransactionDetails API**  will be usefull for all gateways in our plugin.

[2018-01-02 05:41] angelleye commented on #650
@tejasm-itpath Yeah, I think this is a case where they were a little bit slippy with their development, and just expect that most people aren't going to have PHP notices being displayed (which is the case on most live servers) so they didn't bother cleaning up those problems.  I think you may find after you configure the plugin those notices will go away since it now has data filled in to their se

[2018-01-02 05:42] angelleye commented on #865
@tejasm-itpath Ah, yes, sorry.  I read that too fast.  Yes, GetTransactionDetails should have fee information included with it, and that would be available for Express Checkout as well as Payments Pro.  It would not be available for PayFlow or Braintree, and I don't think it will be available for REST either, but we could test that to know for sure.

[2018-01-02 06:05] iMansoorAliKhan opened #976 "payPal Advanced : Number of items causing gateway timeout"
https://wordpress.org/support/topic/gateway-timed-out-2/

When the number of items are more than 10, the issue occurs.

Can you check and see if, when send lineitem is checked, we can make any adjustments for more than 10items order?
if you need log, I can share via slack

[2018-01-02 11:32] tejasm-itpath commented on #650
@angelleye
I have tested our plugin with WooCommerce Autoresponder. And it is working for Mailchimp but not working with GetResponse.
My setup is with Mailchimp and Getresponse https://www.screencast.com/t/1brucmZEw7m
In global Setup I have selected **Subscribe user when Order Created**
It shows my user in the Mailchimp list
Mailchimp : https://www.screencast.com/t/TSfWBzg6D

[2018-01-02 12:22] tejasm-itpath commented on #650
@angelleye
GetResponse is also not working with PayPal Standard so I think it is not issue from our plugin

[2018-01-02 21:01] #974 closed

[2018-01-02 21:02] angelleye commented on #974
@ripieces We'll be releasing a 1.4.7.1 update shortly that resolves this issue.  Thanks again for the feedback!

[2018-01-02 21:04] #976 closed

[2018-01-02 22:50] angelleye commented on #650
Okay, I'll just close the issue then.  I also updated the customer in our help system.

[2018-01-02 22:50] #650 closed

[2018-01-03 12:17] tejasm-itpath commented on #865
@angelleye
For **Paypal - PayFlow Pro** I have found one thing about fetching Transaction details from PNREF value or w can say ORIGID.
By setting TRXTYPE=I in request (I stands for **inquiry**) , we can get following output
`RESULT=0&PNREF=A10AA8FF583E&TRANSSTATE=1&ORIGRESULT=126&ORIGPNREF=A70AA766EDF6&RESPMSG=UnderreviewbyFraudService&AVSADDR=Y&AVSZIP=N&CVV2MATCH=Y&HOSTCODE=A&PROCAVS=A&PROCCVV2=

[2018-01-04 05:25] tejasm-itpath commented on #365
@angelleye  Plugin required

[2018-01-04 05:35] kcppdevelopers commented on #365
@tejasm-itpath I already have latest version, I will send on Slack.

[2018-01-04 10:04] tejasm-itpath commented on #365
@angelleye It is working with Express checkout and PayPal Pro gateways.
PayPal standard and PayPal Express checkout both showing same option for PayPal and Also in Woocoomerce and it's Order. Also showing shipping details and shipping amount the way it showing in PayPal standard.
Also Custom field is showing shipping value in meta field we have shown in #865

[2018-01-04 10:44] angelleye commented on #865
@tejasm-itpath Actually, in the case of PayFlow we are using PayPal as the processor.  So the PayFlow response from an order actually includes a PNREF and a PPREF.  The PPREF is the PayPal Transaction ID, and this should work with GetTransactionDetails.

[2018-01-05 18:15] iMansoorAliKhan commented on #973
@angelleye , Are we gonna check this one? As client is waiting feedback on this.

[2018-01-05 19:54] angelleye commented on #973
@tejasm-itpath Please see if you are able to reproduce this error and get it resolved.

[2018-01-05 19:54] angelleye commented on #973
@iMansoorAliKhan Please provide the logs referenced here so that @tejasm-itpath has them for his review.  If there is sensitive data in the log you can provide directly to TJ via slack instead.

[2018-01-05 19:59] iMansoorAliKhan commented on #973
@angelleye , Thanks , I have shared the log with TJ on slack.

[2018-01-08 04:48] tejasm-itpath commented on #973
@angelleye  @iMansoorAliKhan  Yes I will look this.

[2018-01-08 13:37] bjornburn opened #977 "PayPal Express: Shipping address not updated when paying for an order"
Hello there!

First of all, thanks for a great plugin! PayPal Express is working fine and updating the address just as expected when doing a normal checkout, but I've run into an issue when I'm trying to pay for an order.

Here are the steps to recreate the scenario:
1. In the WP Admin, go to **Woocommerce** –> **Orders** and hit **Add order**. Add a couple of items and hit **Create**.
2. In the O

[2018-01-08 18:09] iMansoorAliKhan commented on #977
@bjornburn Thanks for your nice words, they mean a lot.
Please allow us some time, we will definitely gonna take a look and see whats going on there.
Please hold on for some time , we will get back to you asap.
Thanks!

[2018-01-09 15:28] angelleye opened #978 "Express Checkout - IPN Settings Adjustment"
We have an option to Enable IPN, and when you enable this an additional setting field comes up so you can enter the IPN URL you want to use.  These two fields are separated by the "Prevent Adding Extra Item" option, though.  The IPN URL field should be directly under the Enable IPN option when enabled.

[2018-01-10 07:54] angelleye opened #979 "PayFlow - Add plugin version to log files."
Right now when looking at PayFlow log files we cannot tell which version of our plugin they are using.  We need to add our plugin version stamp to the request/response logs.

[2018-01-10 07:55] angelleye opened #980 "Add plugin stamp to source code of site..??"
Would be nice to have a way that we can view the sourcecode of a website running our plugin so that we can easily see what version of our plugin they are running.  This could be done as a commented text line.

[2018-01-11 06:12] tejasm-itpath commented on #980
https://www.screencast.com/t/hgztJZ7kMaKb
Added same as yoast SEO does.

[2018-01-16 11:18] angelleye opened #981 "Clean unused / commented code out of plugin."
The Sucuri service is false flagging our plugin as a phishing vulnerability.  I reached out to them about this and they said it's actually code that we have commented that is causing the problem.

The file is:  https://github.com/angelleye/paypal-woocommerce/blob/release/classes/wc-gateway-paypal-pro-angelleye.php

He didn't tell me exactly which line caused it, but we just need to make sure and c

[2018-01-16 12:52] #981 closed

[2018-01-17 07:19] iMansoorAliKhan opened #982 "Need to update our plugins PHP compatibility till 7.2"
We need to mention in our plugin readme or FAQ for our plugins compatibility with latest PHP release

[2018-01-17 08:23] iMansoorAliKhan opened #983 "Include email parameter in EC request"
- WC checkout page used, and SEC request does not include email address.  Also does not include SHIPPINGOVERRIDE like it should.
- SEC request also has a paramter included with it that doesn't belong:  utm_override.  That is not a valid SEC request param.  It doesn't seem to be causing an issue now, but it could in the future if they tighten up their request requirements.

[2018-01-17 08:30] iMansoorAliKhan opened #984 "FAQ about all the gateways and their supported currencies"
https://wordpress.org/support/topic/gateway-disabled-paypal-does-not-support-your-store-currency-7/#post-9872060

Do you think we should make an FAQ for this as well?

[2018-01-18 13:13] tejasm-itpath commented on #865
@angelleye I look into code and check about PPREF. we are not gettting PPREF in Payflow because
PPREF only retrieves in Reference Transaction using BAID.

[2018-01-19 09:19] tejasm-itpath commented on #865
@angelleye
GetTransactionDetails unction is not available in PayFlow library so How can I use that with PPREF ?

[2018-01-23 04:16] angelleye opened #985 "Capturing authorizations only using whole values and ignoring decimals..??"
* https://wordpress.org/support/topic/issue-in-authorization-method-docapture

[2018-01-24 20:40] clownguts opened #986 "Issue with PayPal express and self generated coupons"
We are using Yith Dynamic Pricing and also Sumo Rewards Points linked into Woo Smart Coupons. When doing a storewide discount with Yith Dynamic pricing it auto creates a coupon code in Smart Coupons and applies it to the checkout the same as Sumo Reward Points when the customer wished to spend some rewards points. This works fine with our other payment gateways however on PayPal express once the c

[2018-01-24 21:59] angelleye commented on #986
Do you happen to have a test / staging copy of your site with all of this stuff integrated so we can do some troubleshooting directly?

[2018-01-25 10:27] inventusdylan commented on #955
@angelleye This still seems to be an issue. Even when using other payment methods. When the plugin is activated it will duplicate the refund total x2. When disabling the plugin and refunding an order it goes all well.

[2018-01-25 14:28] robwatson-intechra opened #987 "Continued rounding errors"
In reference to #892, #909, and #908, we are still experiencing order amount rounding issues that are causing us to have to pay change fees to our fulfillment company for each order that has this problem. This time I'm attaching a series of recent orders (with sensitive customer data obfuscated) in case a larger pattern can be revealed that might lead to a fix. Included at the bottom of the docume

[2018-01-25 23:07] angelleye commented on #987
Interesting.  The math actually does add up in these cases, and it does show Approved with the warning about the item amount being invalid.  Are you seeing these payments show up in your PayPal account, or are they declining altogether?

I see an item with QTY 3 at 29.67, which is a total of 89.01.  Then it's subtracting the penny as a line item discount to make the subtotal 89.00, which is indeed

[2018-01-26 18:22] iMansoorAliKhan commented on #973
This use is still saying they see the error.
![image](https://user-images.githubusercontent.com/11312949/35454411-c490a5e2-02ef-11e8-991a-dcc19cc2c507.png)

[2018-01-26 19:18] robwatson-intechra commented on #987
The products are selling and being shipped, so they are definitely going into PayPal as completed orders. I'd have to individually confirm the exact amounts in PayPal, but I don't have access to that at the moment. I'll have to get back to you on that. What I do know is that the amounts arriving at the fulfillment center are off by varying penny amounts and those are having to be corrected, with u

[2018-01-29 15:04] inventusdylan opened #988 "Refunded orders not going well"
Hello,

When refunding an order with your plugin activated it doubles the amount that has been refunded in the order reports.

So for example I refund an order ordered which was placed on 12-1-2018 with an order total of 20 euro. The refund will show up as a refund today in the order reports which is correct however it somehow doubles the total value.

When disabling the plugin the refund process

[2018-01-29 19:04] iMansoorAliKhan commented on #988
@inventusdylan , I'm sorry for the trouble, but we are not getting any reports of this from others.
Did you installed another plugin which might be interacting with Woo Orders?
Which method are you using with refunds?
Would you be able to share logs for that specific gateway?

[2018-01-30 04:49] angelleye commented on #955
@inventusdylan I'm not sure I fully understand.  You mean other payment methods in our plugin or in entirely separate plugins?

[2018-01-30 04:54] angelleye commented on #987
Thanks again for the details.  I've got this added to our 1.5.0 milestone, so we'll just need to see if we can reproduce the problem using that dynamic pricing plugin and make necessary adjustments to resolve it.

I'm not sure what you're referring to about approved orders with invalid IP address..??

[2018-01-30 04:55] angelleye commented on #988
Actually, yes, I have seen a couple of reports of this, but not as many as we would think if this was an issue for everybody.

@inventusdylan Which payment gateway are you using our plugin?

[2018-01-30 04:57] angelleye commented on #988
@inventusdylan Is the refund actually processing correctly, but in WC it shows incorrect, or is the refund failing because it's trying to refund too much?

[2018-01-30 05:03] iMansoorAliKhan commented on #988
@angelleye , I was not sure about any other reports, thanks for correcting me :)

[2018-01-30 06:32] crobertwatson commented on #987
Thanks. As for the ones that had error messages saying the IP address is invalid, they also got flagged by our fulfillment as being out of balance on the amounts. Do you see the same? Maybe I need to have a conversation with them about those, if not.

[2018-01-30 17:27] angelleye commented on #987
Is the IP address error coming back from PayPal, or where exactly are you seeing that?  I'm just not clear where that's coming from..??

[2018-01-30 18:37] robwatson-intechra commented on #987
The IP address error is coming back from PayPal from what I can tell in the log file.

[2018-01-30 19:57] angelleye commented on #987
Are you using the latest version of our plugin?  There were some IP address issues that stem from some servers returning the IPv6 value, but PayPal only accepts IPv4.  We made adjustments to this in our latest updates and other than this report we haven't had any other reports of that problem since then.  Please verify you're using the latest version of our plugin..??

[2018-01-30 21:01] robwatson-intechra commented on #987
We're using Version 1.4.7.2.

[2018-01-30 23:37] angelleye commented on #987
So which gateway specifically is this happening with?

[2018-01-31 11:07] tejasm-itpath commented on #937
@angelleye
I have completed plugin for adding notifications. Also created the tool that will fetch the notifications from the plugin and sends to particular plugin.
Now need to discuss on call about how we can store/dismiss the notifications on all sites.

[2018-01-31 15:59] robwatson-intechra commented on #987
Payflow. These are showing up in the Payflow logs in WooCommerce > Status > Logs > paypal_pro_payflow....log

[2018-02-01 07:44] angelleye commented on #988
@kcppdevelopers I'm pretty sure I've seen this reported for PayFlow, so please check that, and then we need to go ahead and double check all the other gateways, too.

[2018-02-01 08:01] angelleye opened #989 "Braintree - Kount Custom"
* https://wordpress.org/support/topic/braintree-avs-and-kount-issues/

[2018-02-01 08:05] angelleye opened #990 "Braintree - Error reporting adjustments..??"
* https://wordpress.org/support/topic/braintree-avs-and-kount-issues/

[2018-02-01 08:07] iMansoorAliKhan opened #991 "Script execition time problem with PP PFLOW 2.0 , DDP and EC too"
we are having some reports that on checkout page it take around 12 to 20 sec to move to order received page in case of Payflow and Do direct.
And in case of EC in regular gateways still taking 10 sec to move to the paypal page.
after installing query monitiro plugin, its showing many duplicate queries, see below screnshot.
![image](https://user-images.githubusercontent.com/11312949/35667710-87a248

[2018-02-01 08:09] angelleye commented on #991
We got a bad review about this in the plugin page recently, and I do have 4 or 5 other random reports of it lately, too.  Definitely need to get this figured out and fixed ASAP!

[2018-02-01 12:33] kcppdevelopers commented on #988
@angelleye I have double checked all the payment gateways and for me order reports working fine.

[2018-02-01 21:20] angelleye commented on #988
@kcppdevelopers hmmm...I've had multiple reports of this problem, though.  Not a whole bunch, but more than a couple.

@inventusdylan Can you step in and help us to troubleshoot this?  Is this still happening to you?